.about {
    padding-top: 80px;
    padding-bottom: 70px;
    font-weight: 400;
    font-style: normal;
}

.about__heading {
    margin-bottom: 17px;
    font-weight: 400;
    font-size: 48px;
    line-height: 65.37px;
}

.about__description {
    max-width: 1080px;
}

@media (max-width: 700px) {
    .about {
        padding-top: 51px;
        padding-bottom: 42px;
    } 

    .about__heading {
        margin-bottom: 11px;
        font-size: 28px;
        line-height: 38.13px;
    }

    .about__description {
        font-size: 14px;
        line-height: 28px;
    }
}
