.catalog {
    padding-top: 80px;
    padding-bottom: 76px;
}

.catalog__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
}

.catalog__heading {
    margin-right: 41px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 48px;
    line-height: 65.37px;
}

.catalog__flag-button {
    position: relative;
    border: none;
    background-color: inherit;
    margin-right: 46px;
}

.catalog__flag-button-last {
    margin-right: 0;
}

.catalog__flag-image {
    width: 46px;
    border: 2px solid inherit;
    border-radius: 100px;
        -webkit-transition: border-width 100ms ease-in-out, -webkit-filter 100ms ease-in-out;
    transition: border-width 100ms ease-in-out, -webkit-filter 100ms ease-in-out;
        -o-transition: border-width 100ms ease-in-out, filter 100ms ease-in-out;
    transition: border-width 100ms ease-in-out, filter 100ms ease-in-out;
    transition: border-width 100ms ease-in-out, filter 100ms ease-in-out, -webkit-filter 100ms ease-in-out;
}

.catalog__flag-button:active .catalog__flag-image {
    border: 2px solid #9d5cd0;
}

.catalog__flag {
    position: relative;
    display: inline-block;
}

.catalog__flag-tab {
    display: none;
}

.catalog__flag-tab_active {
    position: absolute;
    top: -10px;
    right: 0;
    bottom: 0;
    left: -10px;
    display: block;
    width: 66px;
    height: 66px;
    border: 2px solid #9d5cd0;
    border-radius: 100px;
        -webkit-animation: tabsAnimation 300ms alternate linear;
    animation: tabsAnimation 300ms alternate linear;
}

@-webkit-keyframes tabsAnimation {
    0% {
        -webkit-transform: scale(0.7);
                transform: scale(0.7);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes tabsAnimation {
    0% {
        -webkit-transform: scale(0.7);
                transform: scale(0.7);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

.catalog__description {
    max-width: 1080px;
    margin-bottom: 40px;
}

.catalog-both {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.catalog-first {
    max-width: 800px;
    margin-right: 50px;
}

.catalog-first__block {
    display: none;
}

@-webkit-keyframes blockAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blockAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.catalog-first__tab_active {
    display: block;
        -webkit-animation: blockAnimation 900ms alternate linear;
    animation: blockAnimation 900ms alternate linear;
}

.catalog-first__photo {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.catalog-first__caption {
    font-weight: 600;
    font-size: 24px;
}

.catalog-first__description {
    max-width: 749px;
}

.catalog-first__description-years {
    display: block;
    font-size: 12px;
    color: #999999;
}

.catalog-second {
    width: 800px;
}

.catalog-second__item {
    position: relative;
    width: 100%;
    padding: 38px 0 43px 0;
    border-bottom: 1px solid #cacaca;
}

.catalog-second__item_closed {
    position: absolute;
    top: 32px;
    right: 0;
}

.catalog-second__item:nth-child(1) {
    border-top: 1px solid #cacaca;
}

.ui-icon {
    width: 0 !important;
}

.catalog-second__button {
    border: none;
    font-weight: 600;
    font-size: 24px;
    background-color: initial;
    transition: color 300ms ease-in-out;
}

.catalog-second__button::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.catalog-second__button:focus {
    outline: 2px solid #9d5cd0;
}

.catalog-second__button:active {
    color: #7943a4;
    outline: none;
}

.catalog-second__item_closed {
    border: 2px solid #ececec;
    border-radius: 100px;
    background-color: #ececec;
}

.catalog-second__button + svg {
        -webkit-transition: border-color 300ms ease-in-out, background-color 300ms ease-in-out;
        -o-transition: border-color 300ms ease-in-out, background-color 300ms ease-in-out;
    transition: border-color 300ms ease-in-out, background-color 300ms ease-in-out;
}

.catalog-second__button:focus + svg {
    border: 2px solid #9d5cd0;
}

.catalog-second__button + svg path {
        -webkit-transform-origin: center;
        -ms-transform-origin: center;
    transform-origin: center;
        -webkit-transition: fill 300ms ease-in-out, stroke 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    transition: fill 300ms ease-in-out, stroke 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
        -o-transition: fill 300ms ease-in-out, stroke 300ms ease-in-out, transform 300ms ease-in-out;
    transition: fill 300ms ease-in-out, stroke 300ms ease-in-out, transform 300ms ease-in-out;
    transition: fill 300ms ease-in-out, stroke 300ms ease-in-out, transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.catalog-second__button:active + svg .catalog-second__item-background {
    fill: #7943a4;
}

.catalog-second__button:active + svg .catalog-second__item-border {
    stroke: #7943a4;
}

.catalog-second__button:active + svg .catalog-second__item-arrow {
    stroke: #ffffff;
        -webkit-transform: rotateX(180deg) translateY(-1px);
    transform: rotateX(180deg) translateY(-1px);
}

.catalog-second__button:active + svg {
    border: 2px solid #d1a9f0;
    background-color: #7943a4;
}

.ui-state-active .catalog-second__button + svg .catalog-second__item-arrow {
        -webkit-transform: rotateX(180deg) translateY(-1px);
    transform: rotateX(180deg) translateY(-1px);
}

.ui-state-active {
    border-bottom: 1px solid #9d5cd0;
}

#accordion .ui-accordion-content {
    padding: 25px 3px;
}

.catalog-second__basic {
    border-bottom: 1px solid #9d5cd0 !important;
}

.catalog-second__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    flex-direction: column;
        -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-height: 288px;
}

.catalog-second__list_active {
    display: flex;
        -webkit-animation: blockAnimation 900ms alternate linear;
    animation: blockAnimation 900ms alternate linear;
}

.catalog-second__list-item {
    margin-right: 50px;
}

.catalog-second__list-tab {
    border: none;
    background-color: inherit;
        -webkit-transition: color 300ms ease-in-out;
        -o-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}

.catalog-second__list-tab:focus {
    outline: 2px solid #9d5cd0;
}

.catalog-second__list-tab:active {
    border-bottom: none;
    color: #7943a4;
    outline: none;
}

.catalog-second__highlight {
    color: #9d5cd0;
}

@media (max-width: 1550px) {
    .catalog-second__list-item {
        margin-right: 0;
    }
}

@media (max-width: 1300px) {
    .catalog-second__list {
        font-size: 12px;
    }
}

@media (max-width: 1024px) {
    .catalog__flags {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .catalog__flag-button {
        margin-right: 50px;
    }

    .catalog-second {
        width: 750px;
    }

    .catalog-second__list {
            -ms-flex-line-pack: justify;
        align-content: space-between;
        max-height: 384px;
        padding-right: 5px;
        font-size: 16px;
    }
}

@media (max-width: 940px) {
    .catalog-second__list {
        padding-right: 0;
        font-size: 13px;
    }
}

@media (max-width: 768px) {
    .catalog {
        padding-bottom: 72px;
    }

    .catalog__flags {
        width: 100%;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
        justify-content: space-between;
        padding-bottom: 5px;
    }

    .catalog__flag-button {
        margin-right: 0;
    }

    .catalog__description {
        margin-bottom: 20px;
    }

    .catalog-both {
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .catalog-first {
        margin-right: 0;
    }

    .catalog-second {
        width: 100%;
        margin-bottom: 47px !important;
    }

    .catalog-second__list {
        max-height: 288px;
        font-size: 16px;
    }
}

@media (max-width: 700px) {
    .catalog {
        padding-bottom: 50px;
    }

    .catalog__head {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
        flex-direction: column;
            -webkit-box-align: start;
            -ms-flex-align: start;
        align-items: flex-start;
        margin-bottom: 5px;
    }

    .catalog__heading {
        margin-right: 0;
        margin-bottom: 12px;
        font-size: 28px;
        line-height: 38.13px;
    }

    .catalog__description {
        display: none;
    }

    .catalog-first__photo {
        margin-bottom: 12px;
    }

    .catalog-first__caption {
        margin-bottom: 4px;
    }

    .catalog-second {
        margin-bottom: 44px !important;
    }

    .catalog-second__item {
        padding: 21px 0;
    }

    .catalog-second__button {
        font-size: 18px;
    }

    .catalog-second__item_closed {
        top: 22px;
        width: 30px;
        height: 30px;
    }

    .catalog-second__list {
        max-height: 384px;
        padding-right: 0;
    }

    #accordion .ui-accordion-content {
        padding: 18px 0;
    }
}

@media (max-width: 500px) {
    .catalog__flag-image {
        width: 32px;
    }

    .catalog__flag-tab_active {
        top: -6px;
        right: 0;
        bottom: 0;
        left: -6px;
        width: 44px;
        height: 44px;
    }

    .catalog-second__list {
        max-height: 770px;
    }
}

@media (hover: hover) {
    .catalog__flag-button:hover .catalog__flag-image {
        border: 2px solid #cacaca;
            -webkit-filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
        filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
    }

    .catalog__flag-button:active .catalog__flag-image {
        border: 2px solid #9d5cd0;
    }

    .catalog-second__button:hover {
        color: #9d5cd0;
        outline: none;
    }

    .catalog-second__button:active {
        color: #7943a4;
        outline: none;
    }

    .catalog-second__button:hover + svg {
        border: 2px solid #9d5cd0;
        background-color: #9d5cd0;
    }

    .catalog-second__button:hover + svg .catalog-second__item-background {
        fill: #9d5cd0;
    }
    
    .catalog-second__button:hover + svg .catalog-second__item-border {
        stroke: #9d5cd0;
    }
    
    .catalog-second__button:hover + svg .catalog-second__item-arrow {
        stroke: #ffffff;
    }

    .catalog-second__button:active + svg .catalog-second__item-background {
        fill: #7943a4;
    }
    
    .catalog-second__button:active + svg .catalog-second__item-border {
        stroke: #7943a4;
    }
    
    .catalog-second__button:active + svg .catalog-second__item-arrow {
        stroke: #ffffff;
            -webkit-transform: rotateX(180deg) translateY(-1px);
        transform: rotateX(180deg) translateY(-1px);
    }
    
    .catalog-second__button:active + svg {
        border: 2px solid #d1a9f0;
        background-color: #7943a4;
    }

    .catalog-second__list-tab:hover {
        border-bottom: 1px solid #9d5cd0;
        color: #9d5cd0;
        outline: none;
    }

    .catalog-second__list-tab:active {
        border-bottom: none;
        color: #7943a4;
        outline: none;
    }
}
