.contacts {
    position: relative;
}

.contacts-heading {
    margin-bottom: 26px;
    font-weight: 400;
    font-size: 48px;
    line-height: 65.37px;
}

.contacts-first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
    justify-content: center;
    height: 690px;
}

.contacts-first-name {
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 24px;
}

.contacts-first-adress {
    margin-bottom: 26px;
}

.contacts-first-subtitle {
    margin-bottom: 18px;
    font-size: 24px;
}

.contacts-first-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    flex-direction: column;
}

.contacts-first-form-input {
    width: 400px;
    margin-bottom: 20px;
    padding: 11px 24px;
    border: 1px solid #333333;
    border-radius: 100px;
    background-color: inherit;
}

.contacts-first-form-input:nth-child(2) {
    margin-bottom: 18px;
}

.contacts-first-form-button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 40px;
    padding: 18px 32px;
    border: 2px solid #9d5cd0;
    border-radius: 100px;
    font-weight: 700;
    font-size: 18px;
    color: #9d5cd0;
    background-color: inherit;
}

.contacts-first-form-button:focus span {
    outline: 2px solid #7943a4;
}

.contacts-first-form-button:not(.mobile):hover {
    color: #ffffff;
    background-color: #9d5cd0;
    outline: none;
}

.contacts-first-form-button:active {
    border: 2px solid #d1a9f0;
    background-color: #7943a4;
}
.contacts-first-subtitle-links {
    margin-bottom: 16px;
    font-size: 24px;
}

.contacts-first-link {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.contacts-first-link:focus {
    outline: 2px solid #9d5cd0;
}

.contacts-first-link:not(.mobile):hover {
        -webkit-filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
    filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
    outline: none;
}

.contacts-first-link:active {
    opacity: 0.6;
    outline: none;
}

.contacts-first-link-one {
    margin-right: 16px;
    background-image: url(../images/9-contacts/whatsapp.svg);
    background-repeat: no-repeat;
}

.contacts-first-link-two {
    background-image: url(../images/9-contacts/telegram.svg);
    background-repeat: no-repeat;
}

@media (max-width: 1024px) {
    .contacts-first-form-input {
        width: 335px;
    }
}

@media (max-width: 700px) {
    .contacts {
        padding-bottom: 30px;
    }

    .contacts-heading {
        margin-bottom: 12px;
        font-size: 28px;
        line-height: 38.13px;
    }

    .contacts-first {
            -webkit-box-pack: start;
            -ms-flex-pack: start;
        justify-content: flex-start;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }

    .contacts-first-name {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 24.51px;
    }
    
    .contacts-first-adress {
        margin-bottom: 355px;
        font-size: 14px;
        line-height: 19px;
    }
    
    .contacts-first-subtitle {
        margin-bottom: 0;
        font-size: 18px;
    }

    .contacts-first-form-input {
        width: 290px;
        margin-top: 16px;
        margin-bottom: 2px;
    }

    .js-validate-error-label {
        font-size: 12px;
        line-height: 12px;
    }

    .contacts-first-form-button {
        margin-top: 16px;
        margin-bottom: 20px;
        padding: 12px 32px;
        font-size: 12px;
    }

    .contacts-first-subtitle-links {
        margin-bottom: 7px;
        font-size: 18px;
    }
}
