.editions {
    padding-top: 80px;
    padding-bottom: 78px;
    color: #ffffff;
    background-image: url(../images/7-editions/webp/background.webp), url(../images/7-editions/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.editions__content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.editions-first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    flex-direction: column;
    min-width: 350px;
    margin-right: 100px;
}

.editions-first__heading {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 48px;
    line-height: 65.37px;
}

.editions-first__spoiler {
    display: none;
}

.editions-first__subtitle {
    font-weight: 700;
}

.editions-first__checkboxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 26px;
}

.editions-first__checkbox {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 6px 0;
    cursor: pointer;
}

.editions-first__checkbox .editions-first__checkbox-input:focus + .checkbox_content {
    outline: 2px solid #7943a4;
}

.editions-first__checkbox .editions-first__checkbox-input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    cursor: pointer;
}

.checkbox_content {
    position: absolute;
    top: 0;
    left: -5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
    padding: 2px 5px;
    line-height: 1;
        -webkit-transition: color 300ms ease-in-out;
        -o-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}

.checkbox_content::before {
        -webkit-transition: border-color 300ms ease-in-out;
        -o-transition: border-color 300ms ease-in-out;
    transition: border-color 300ms ease-in-out;
}

.checkbox_content::after {
        -webkit-transition: border-color 300ms ease-in-out;
        -o-transition: border-color 300ms ease-in-out;
    transition: border-color 300ms ease-in-out;
}

.checkbox_content:active {
    color: #9d5cd0;
}

.checkbox_content:active::before {
    border: 1px solid #9d5cd0;
}

.editions-first__checkbox input:active + .checkbox_content {
    outline: none;
}

.checkbox_content::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 12px;
    border: 1px solid #ffffff;
}

.checkbox_content::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 5px;
    display: none;
    width: 12px;
    height: 12px;
    border: 1px solid #c283f3;
    background-image: url(../images/7-editions/mark.svg);
    background-size: 8px;
    background-repeat: no-repeat;
    background-position: center;
}

.editions-first__checkbox .editions-first__checkbox-input:checked + .checkbox_content {
    color: #c283f3;
}

.editions-first__checkbox .editions-first__checkbox-input + .checkbox_content:active {
    color: #9d5cd0;
}

.editions-first__checkbox .editions-first__checkbox-input + .checkbox_content:active::after {
    border: 1px solid #9d5cd0;
}

.editions-first__checkbox .editions-first__checkbox-input:checked + .checkbox_content::after {
    display: block;
}

.editions-first__subtitle-price {
    display: block;
    margin-bottom: 10px;
}

.editions-first__price {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 19px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;
}

.editions-first__price-input {
    width: 82px;
    height: 40px;
    margin-right: 10px;
    margin-left: 5px;
    padding-left: 10px;
    border: none;
    border-radius: 0;
    color: #ffffff;
    background-color: #9d5cd0;
}

.editions-first__price-input::placeholder {
    color: #cacaca;
}

.editions-second {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.editions-second__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
    flex-direction: row;
    padding-top: 92px;
}

.editions-second__item {
    width: 100%;
    line-height: 21.8px;
}

.editions-second__item-image {
    width: 100%;
    margin-bottom: 23px;
}

.editions-second__item-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 13px;
}

.editions-second__item-caption {
    width: 65%;
}

.editions-second__item-name {
    display: block;
    width: 100%;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
        -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.editions-second__item-author {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
        -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.editions-second__item-price {
    margin-right: 2px;
    font-style: italic;
}

.editions-second__item-button {
    display: block;
    z-index: 11;
    padding: 9px 20px;
    border: 2px solid #9d5cd0;
    border-radius: 100px;
    font-weight: 700;
    color: #ffffff;
    background-color: inherit;
        -webkit-transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;
        -o-transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;
    transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;
    cursor: pointer;
    outline: none;
}

.editions-second__item-button:focus .editions-second__button-text {
    outline: 2px solid #7943a4;
}

.editions-second__item-button:active {
    border: 2px solid #d1a9f0;
    background-color: #7943A4;
}

.editions-pagination {
    top: 30px;
    margin-left: 46px;
    text-align: left;
    line-height: 30px;
}

.editions-swiper-button-prev,
.editions-swiper-button-next {
    top: 33px;
    width: 29px;
    height: 28px;
    border: 2px solid #666666;
    border-radius: 100px;
    background-image: url(../images/7-editions/nav-background.svg);
    background-repeat: no-repeat;
    background-position: center;
        -webkit-transition: border-color 300ms ease-in-out, background-image 300ms ease-in-out;
        -o-transition: border-color 300ms ease-in-out, background-image 300ms ease-in-out;
    transition: border-color 300ms ease-in-out, background-image 300ms ease-in-out;
    outline: none;
}

.editions-swiper-button-prev:focus,
.editions-swiper-button-next:focus {
    border: 2px solid #7943a4;
}

.editions-swiper-button-prev:active,
.editions-swiper-button-next:active {
    border: 2px solid #d1a9f0;
    background-image: url(../images/7-editions/nav-background-active.svg);
}

.editions-swiper-button-prev::after,
.editions-swiper-button-next::after {
    font-size: 11px;
}

.editions-swiper-button-prev {
    left: 0;
}

.editions-swiper-button-next {
    left: 100px;
}

:root {
    --swiper-navigation-size: none;
    --swiper-theme-color: none;
}

@media (max-width: 1550px) {
    .editions-second__item-name,
    .editions-second__item-price,
    .editions-second__item-author {
        font-size: 14px;
    }
}

@media (max-width: 1300px) {
    .editions-first {
        margin-right: 50px;
    }
}

@media (max-width: 1024px) {
    .editions {
        padding-bottom: 58px;
    }

    .editions-first {
        min-width: 247px;
        margin-right: 50px;
    }

    .editions-first__price-content {
        position: absolute;
        top: 23px;
        right: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
        flex-direction: row;
    }

    .editions-first__price-content > .editions-first__price-text {
        margin-right: 12px;
        margin-bottom: 0;
        padding-top: 4px;
    }

    .editions-second__item-image {
        margin-bottom: 8px;
    }

    .editions-second__item-name,
    .editions-second__item-price,
    .editions-second__item-author {
        font-size: 16px;
    }

    .editions-second__item-description {
        margin-bottom: 19px;
    }
}

@media (max-width: 940px) {
    .editions-first__price-content {
        top: 0;
        right: 0;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
        flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
        align-items: center;
    }

    .editions-first__price-content > .editions-first__price-text {
        margin-right: 0;
        padding-top: 0;
    }

    .editions-first__price-content .editions-first__price {
        font-size: 14px;
            -webkit-transform: scale(0.7);
            -ms-transform: scale(0.7);
        transform: scale(0.7);
    }
}

@media (max-width: 768px) {
    .editions__content {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
        flex-direction: column;
    }

    .editions-first {
        margin-right: 0;
        margin-bottom: 17px;
    }

    .editions-first__checkboxes {
            -ms-flex-wrap: wrap;
        flex-wrap: wrap;
            -ms-flex-line-pack: justify;
        align-content: space-between;
        height: 130px;
        margin-bottom: 24px;
    }

    .editions-first__price-content {
        position: static;
        display: block;
    }

    .editions-first__price-content .editions-first__price {
        margin-top: 5px;
        font-size: 16px;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
        transform: scale(1);
    }

    .editions-second {
        width: 100%;
        padding: 0 27px;
    }

    .editions-second__item-image {
        margin-bottom: 5px;
    }
}

@media (max-width: 700px) {
    .editions {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .editions-first__heading {
        margin-bottom: 12px;
        font-size: 28px;
        line-height: 38.13px;
    }

    .editions-first__spoiler {
        display: block;
        margin: 0 0 8px;
    }

    .editions-first__spoiler-head {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
        justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
        align-items: center;
        padding: 3px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        font-weight: 700;
        cursor: pointer;
    }

    .editions-first__spoiler-head::after {
        content: '';
        display: inline-block;
        width: 7px;
        height: 7px;
        border-right: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
            -webkit-transform: translateY(-1px) rotateZ(45deg);
            -ms-transform: translateY(-1px) rotate(45deg);
        transform: translateY(-1px) rotateZ(45deg);
        opacity: 0.75;
            -webkit-transition: border 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
        transition: border 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
            -o-transition: transform 300ms ease-in-out, border 300ms ease-in-out;
        transition: transform 300ms ease-in-out, border 300ms ease-in-out;
        transition: transform 300ms ease-in-out, border 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    }

    .editions-first__spoiler {
        margin-bottom: 20px;
    }

    .editions-first__spoiler.editions-first__spoiler_active .editions-first__spoiler-head::after {
            -webkit-transform: translateY(3px) rotateX(180deg) rotateZ(45deg);
        transform: translateY(3px) rotateX(180deg) rotateZ(45deg);
    }

    .editions-first__spoiler.editions-first__spoiler_disabled .editions-first__spoiler-item {
        display: none;
    }

    .editions-first__spoiler-item {
        position: relative;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        cursor: pointer;
    }

    .editions-first__spoiler-item:active .checkbox_content {
        color: #9d5cd0;
    }

    .editions-first__spoiler-item:active .checkbox_content::before {
        border-color: #9d5cd0;
    }

    .editions-first__spoiler-item_checked .checkbox_content {
        color: #c283f3;
    }

    .editions-first__spoiler-item_checked .checkbox_content::before {
        border-color: #c283f3;
    }

    .editions-first__spoiler-item_checked .checkbox_content::after {
        display: block;
    }

    .editions-first__spoiler-item-close {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
        justify-content: flex-end;
            -webkit-box-align: center;
            -ms-flex-align: center;
        align-items: center;
        width: 100%;
        border: none;
        background-color: inherit;
    }

    .editions-first__close-image {
        color: #c283f3;
            -webkit-transition: color 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
        transition: color 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
            -o-transition: transform 300ms ease-in-out, color 300ms ease-in-out;
        transition: transform 300ms ease-in-out, color 300ms ease-in-out;
        transition: transform 300ms ease-in-out, color 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    }

    .editions-first__spoiler_active .editions-first__spoiler-item-close {
        z-index: -1;
    }

    .editions-first__spoiler-item_unchecked .editions-first__close-image {
        visibility: hidden;
    }

    .editions-first__spoiler_disabled .editions-first__spoiler-item-close {
        z-index: 1;
    }

    .editions-first__checkbox {
        display: block;
        padding: 3px 0;
    }

    .editions-first__checkbox .checkbox_content::before {
        width: 10px;
        height: 10px;
    }

    .editions-first__checkbox .checkbox_content::after {
        top: 10px;
        width: 10px;
        height: 10px;
        background-size: 4px;
    }

    .checkbox_content {
        padding: 8px 5px;
    }

    .editions-first__subtitle {
        display: none;
    }

    .editions-first__checkboxes {
        display: none;
    }

    .editions-first__subtitle-price {
        display: block;
    }

    .editions-first__price {
        width: 290px;
        padding: 0 12px;
    }
    
    .editions-first__price-input {
        width: 70px;
        height: 38px;
        margin-right: 4px;
        margin-left: 2px;
    }

    .editions-second {
        padding: 0;
    }

    .editions-wrapper {
            -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .editions-second__slide {
        width: calc(50% - 15px);
        margin-bottom: 47px;
        padding: 3px 0 0 0;
    }

    .editions-second__slide:nth-child(2n - 1) {
        margin-right: 30px;
    }

    .editions-second__slide-last {
        margin-bottom: 0;
    }

    .editions-second__item {
        margin-right: 0;
        line-height: 16.34px;
    }

    .editions-second__item_last {
        margin-right: 0;
    }

    .editions-second__item-image {
        margin-bottom: 6px;
    }

    .editions-second__item-name,
    .editions-second__item-price,
    .editions-second__item-author,
    .editions-second__item-button {
        font-size: 12px;
    }

    .editions-second__item-description {
            -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 2px;
    }

    .editions-second__item-caption {
        width: 100%;
        margin-bottom: 2px;
    }

    .editions-second__item-name {
        display: block;
        max-width: 100%;
    }
    
    .editions-second__item-price {
        display: block;
        margin-bottom: 8px;
    }

    .editions-second__item-button {
        padding: 12px 34px;
    }

    .editions-pagination {
        display: none;
    }

    .editions-swiper-button-prev,
    .editions-swiper-button-next {
        display: none;
    }
}

@media (hover: hover) {
    .checkbox_content:hover {
        color: #c283f3;
    }
    
    .checkbox_content:hover::before {
        border: 1px solid #c283f3;
    }
    
    .editions-first__checkbox input:hover + .checkbox_content {
        outline: none;
    }

    .checkbox_content:active {
        color: #9d5cd0;
    }
    
    .checkbox_content:active::before {
        border: 1px solid #9d5cd0;
    }
    
    .editions-first__checkbox input:active + .checkbox_content {
        outline: none;
    }

    .editions-first__checkbox .editions-first__checkbox-input + .checkbox_content:active {
        color: #9d5cd0;
    }
    
    .editions-first__checkbox .editions-first__checkbox-input + .checkbox_content:active::after {
        border: 1px solid #9d5cd0;
    }

    .editions-second__item-button:hover {
        background-color: #9d5cd0;
    }

    .editions-second__item-button:active {
        border: 2px solid #d1a9f0;
        background-color: #7943A4;
    }

    .editions-swiper-button-prev:hover,
    .editions-swiper-button-next:hover {
        border: 2px solid #9d5cd0;
        background-image: url(../images/7-editions/nav-background-hover.svg);
    }

    .editions-swiper-button-prev:active,
    .editions-swiper-button-next:active {
        border: 2px solid #d1a9f0;
        background-image: url(../images/7-editions/nav-background-active.svg);
    }

    .editions-first__spoiler-head:hover {
        color: #9d5cd0;
    }

    .editions-first__spoiler-head:hover::after {
        border-color: #9d5cd0;
    }

    .editions-first__spoiler-item:hover .checkbox_content {
        color: #c283f3;
    }

    .editions-first__spoiler-item:hover .checkbox_content::before {
        border-color: #c283f3;
    }

    .editions-first__spoiler-item-close:hover {
        background-color: rgba(194, 131, 243, 0.1);
    }

    .editions-first__spoiler-item-close:hover {
        outline: 2px solid #9d5cd0;
    }

    .editions-first__spoiler-item-close:hover .editions-first__close-image {
        color: #9d5cd0;
            -webkit-transform: translateX(-10px) scale(2);
            -ms-transform: translateX(-10px) scale(2);
        transform: translateX(-10px) scale(2);
    }

    @media (max-width: 700px) {
        .editions-first__spoiler-head:active {
            color: #7943a4;
        }
    
        .editions-first__spoiler-head:active::after {
            border-color: #7943a4;
        }

        .editions-first__spoiler-item:active .checkbox_content {
            color: #9d5cd0;
        }
    
        .editions-first__spoiler-item:active .checkbox_content::before {
            border-color: #9d5cd0;
        }

        .editions-first__spoiler-item-close:active {
            background-color: rgba(194, 131, 243, 0.2);
        }
    
        .editions-first__spoiler-item-close:active {
            outline: 2px solid #c283f3;
        }
    
        .editions-first__spoiler-item-close:active .editions-first__close-image {
            color: #c283f3;
                -webkit-transform: translateX(-10px) scale(2);
                -ms-transform: translateX(-10px) scale(2);
            transform: translateX(-10px) scale(2);
        }
    }
}
