.gallery {
    padding-top: 80px;
    padding-bottom: 70px;
    color: #ffffff;
    background-image: url(../images/4-gallery/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.gallery-first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 50px;
}

.gallery-first__heading {
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 48px;
    line-height: 65.37px;
}

.gallery-first__caption {
    margin-bottom: 9px;
    font-weight: 600;
}

.gallery-first__select {
    max-width: 400px;
}

.choices {
    margin-bottom: 0;
}

.choices[data-type*=select-one]::after {
    display: block;
    width: 15px;
    height: 15px;
    right: 15px;
    border-style: inherit;
    background-image: url(../images/4-gallery/arrow.svg);
    background-repeat: no-repeat;
    background-position: top center;
}

.choices[data-type*=select-one].is-open::after {
    margin-top: -2.5px;
}

.choices__placeholder {
    opacity: 1;
}

.choices__inner {
    min-height: 42px;
    padding: 0 15px;
    border: 1px solid #999999;
    border-radius: 6px;
    color: #ffffff;
    background-color: inherit;
}

.choices[data-type*=select-one] .choices__inner {
    padding-bottom: 0;
}

.is-open .choices__inner {
    border: 1px solid #ffffff;
    border-radius: 6px;
}

.choices__list--dropdown {
    border-radius: 6px;
    background-color: inherit;
        -webkit-transform: translateY(-40px) scaleY(0);
        -ms-transform: translateY(-40px) scaleY(0);
    transform: translateY(-40px) scaleY(0);
        -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
        -o-transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.choices__list--dropdown.is-active {
        -webkit-transform: translateY(0) scaleY(1);
        -ms-transform: translateY(0) scaleY(1);
    transform: translateY(0) scaleY(1);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: inherit;
}

.choices__list--dropdown .choices__item {
    padding-top: 4px;
    padding-bottom: 4px;
    border-top: 1px solid #999999;
}

.is-selected {
    display: none;
}

.gallery-first__offer {
    max-width: 400px;
    margin-top: auto;
    font-weight: 600;
}

.gallery-first__offer_768 {
    display: none;
}

.gallery-first__link {
    color: #9d5cd0;
        -webkit-transition: color 300ms ease-in-out;
        -o-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}

.gallery-first__link:focus {
    outline: 2px solid #7943a4;
}

.gallery-first__link:active {
    border-bottom: none;
    color: #7943a4;
    outline: none;
}

.gallery-second {
    position: relative;
    width: 1150px;
    max-height: 844px;
    padding-top: 85px;
    padding-bottom: 8px;
}

.gallery-second__slide {
    height: auto;
}

.gallery-second__picture {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
}

.gallery-second__picture::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
        -webkit-transition: background-color 300ms ease-in-out;
        -o-transition: background-color 300ms ease-in-out;
    transition: background-color 300ms ease-in-out;
}

.gallery-second__picture:active::before {
    background-color: rgba(194, 131, 243, 0.4);
}

.gallery-second__image {
    display: block;
    width: 100%;
}

.gallery-second__loop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 25px;
        -webkit-transition: opacity 300ms ease-in-out;
        -o-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../images/4-gallery/loop.svg);
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;
}

.gallery-pagination {
    top: 25px;
    margin-left: 51px;
    text-align: left;
    line-height: 30px;
}

.gallery-swiper-button-prev,
.gallery-swiper-button-next {
    top: 25px;
    width: 30px;
    height: 30px;
    border: 2px solid #666666;
    border-radius: 100px;
    background-image: url(../images/4-gallery/nav-background.svg);
    background-repeat: no-repeat;
    background-position: center;
        -webkit-transition: border-color 300ms ease-in-out, background-image 300ms ease-in-out;
        -o-transition: border-color 300ms ease-in-out, background-image 300ms ease-in-out;
    transition: border-color 300ms ease-in-out, background-image 300ms ease-in-out;
}

.gallery-swiper-button-prev:focus,
.gallery-swiper-button-next:focus {
    border: 2px solid #7943a4;
}

.gallery-swiper-button-prev:active,
.gallery-swiper-button-next:active {
    border: 2px solid #d1a9f0;
    background-image: url(../images/4-gallery/nav-background-active.svg);
}

.gallery-swiper-button-prev::after,
.gallery-swiper-button-next::after {
    font-size: 11px;
}

.gallery-swiper-button-prev {
    left: 3px;
}

.gallery-swiper-button-next {
    left: 103px;
}

:root {
    --swiper-navigation-size: none;
    --swiper-theme-color: none;
}

@-webkit-keyframes modalContentAnimation {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes modalContentAnimation {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

.modal__show .modal__content {
    animation: modalContentAnimation 300ms linear;
}

.modal__content {
    border: 0;
    border-radius: 0;
}

.modal__header {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    justify-content: flex-end;
    padding: 20px;
    border: none;
}

.modal__title {
    display: none;
}

.modal__btn-close {
    display: block;
    width: 20px;
    height: 20px;
    font-weight: normal;
    font-size: 20px;
    float: none;
    text-align: center;
    text-shadow: none;
}

.modal__body {
    display: flex;
    align-items: center;
    padding: 0;
}

.modal__body > img {
    width: auto;
    height: 100%;
    overflow: hidden;
}

.modal__body > div {
    width: 500px;
    height: fit-content;
    padding: 0 50px;
}

.modal__body > div h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.modal__body > div h5 {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.modal__body > div span {
    display: block;
    margin-bottom: 25px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #969696;
}

.modal__body > div p {
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
}

.modal__body img {
    display: block;
}

@media (min-width: 700px) {
    .modal__content {
        max-width: 900px;
        height: 500px;
        margin: 50px auto;
    }
}

@media (max-width: 1300px) {
    .gallery-second {
        max-height: 650px;
    }
}

@media (max-width: 1024px) {
    .gallery-first {
        width: 540px;
    }

    .gallery-second {
        max-height: 689px;
    }

    .gallery-second__slide {
        height: auto;
    }

    .modal__content {
        max-width: 700px;
        height: 400px;
    }

    .modal__body > div {
        width: 350px;
    }

    .modal__body > div h4 {
        font-size: 18px;
        line-height: 24px;
    }
    
    .modal__body > div h5 {
        margin-bottom: 2px;
        font-size: 14px;
        line-height: 16px;
    }
    
    .modal__body > div span {
        margin-bottom: 5px;
        font-size: 10px;
        line-height: 12px;
    }
    
    .modal__body > div p {
        font-size: 12px;
        line-height: 20px;
    }
}

@media (max-width: 768px) {
    .gallery__content {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
        flex-direction: column;
    }

    .gallery-first {
        width: 100%;
        margin-right: 0;
        margin-bottom: 82px;
    }

    .gallery-first__offer_landscape {
        display: none;
    }

    .gallery-second {
        width: 100%;
        max-height: 679px;
    }

    .choices {
        max-width: 280px;
    }

    .gallery-first__offer_768 {
        display: block;
        max-width: 100%;
        margin-top: 30px;
    }

    .gallery-second__slide {
        height: 280px;
    }

    .gallery-second__image {
        height: 280px;
    }
}

@media (max-width: 700px) {
    .gallery {
        padding-top: 49px;
        padding-bottom: 70px;
    }

    .gallery-first__heading {
        margin-bottom: 13px;
        font-size: 28px;
        line-height: 38.13px;
    }

    .gallery-first__caption {
        margin-bottom: 6px;
    }

    .choices {
        max-width: 100%;
    }

    .gallery-second {
        padding-top: 35px;
        padding-bottom: 60px;
    }

    .gallery-second__slide {
        height: 367px;
    }

    .gallery-second__picture {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
        justify-content: center;
        max-width: 367px;
        margin-right: auto;
        margin-left: auto;
    }

    .gallery-second__image {
        height: 367px;
    }

    .gallery-pagination {
        top: auto;
        bottom: 0;
        margin-left: 0;
        text-align: center;
    }
    
    .gallery-swiper-button-prev,
    .gallery-swiper-button-next {
        top: auto;
        bottom: 10px;
    }

    .gallery-swiper-button-prev {
        left: 27.5%;
    }
    
    .gallery-swiper-button-next {
        right: 27.5%;
        left: auto;
    }

    .gallery-first__offer_768 {
        margin-top: 10px;
    }

    .modal__content {
        max-width: fit-content;
    }

    .modal__body {
        flex-direction: column;
    }

    .modal__body img {
        width: 100%;
        height: auto;
        margin-bottom: 8px;
    }

    .modal__body > div {
        text-align: center;
        padding-right: 0;
        padding-left: 0;
    }

    .modal__body > div p {
        display: none;
    }
}

@media (hover: hover) {
    .gallery-first__link:hover {
        border-bottom: 1px solid #9d5cd0;
        outline: none;
    }

    .gallery-first__link:active {
        border-bottom: none;
        color: #7943a4;
        outline: none;
    }

    .gallery-second__picture:hover .gallery-second__loop {
        opacity: 1;
    }

    .gallery-second__picture:active::before {
        background-color: rgba(194, 131, 243, 0.4);
    }

    .gallery-swiper-button-prev:hover,
    .gallery-swiper-button-next:hover {
        border: 2px solid #9d5cd0;
        background-image: url(../images/4-gallery/nav-background-hover.svg);
    }

    .gallery-swiper-button-prev:active,
    .gallery-swiper-button-next:active {
        border: 2px solid #d1a9f0;
        background-image: url(../images/4-gallery/nav-background-active.svg);
    }
}
