.gallery {
    padding-top: 80px;
    padding-bottom: 70px;
    color: #ffffff;
    background-image: url(../images/4-gallery/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.gallery-first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 50px;
}

.gallery-first-heading {
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 48px;
    line-height: 65.37px;
}

.gallery-first-caption {
    margin-bottom: 9px;
    font-weight: 600;
}

.gallery-first-select {
    max-width: 400px;
}

.choices {
    margin-bottom: 0 !important;
}

.choices[data-type*=select-one]::after {
    display: block !important;
    width: 15px !important;
    height: 15px !important;
    right: 15px !important;
    border-style: inherit !important;
    background-image: url(../images/4-gallery/arrow.svg);
    background-repeat: no-repeat;
    background-position: top center;
}

.choices[data-type*=select-one],.is-open::after {
    margin-top: -2.5px !important;
}

.choices__placeholder {
    opacity: 1 !important;
}

.choices__inner {
    min-height: 42px !important;
    padding: 0 15px !important;
    border: 1px solid #999999 !important;
    border-radius: 6px !important;
    color: #ffffff;
    background-color: inherit !important;
}

.is-open .choices__inner {
    border: 1px solid #ffffff !important;
}

.choices__list--dropdown {
    border-radius: 6px !important;
    background-color: inherit !important;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: inherit !important;
}

.choices__list--dropdown .choices__item {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    border-top: 1px solid #999999 !important;
}

.is-selected {
    display: none;
}

.gallery-first-offer {
    max-width: 400px;
    margin-top: auto;
    font-weight: 600;
}

.gallery-first-offer-768 {
    display: none;
}

.gallery-first-link {
    color: #9d5cd0;
}

.gallery-first-link:focus {
    outline: 2px solid #7943a4;
}

.gallery-first-link:not(.mobile):hover {
    border-bottom: 1px solid #9d5cd0;
    outline: none;
}

.gallery-first-link:active {
    border-bottom: none;
    color: #7943a4;
    outline: none;
}

.gallery-second {
    position: relative !important;
    width: 1150px;
}

.gallery-swiper-1024 {
    display: none;
}

.gallery-swiper-320 {
    display: none;
}

.gallery-second-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -ms-flex-wrap: wrap;
    flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    justify-content: space-between;
        -webkit-box-align: end;
        -ms-flex-align: end;
    align-items: flex-end;
    padding-top: 75px;
}

.gallery-second-image {
    position: relative;
    width: 30.435%;
    height: 45.455%;
    margin-bottom: 50px;
    cursor: pointer;
}

.gallery-second-image::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
        -webkit-transition: opacity 100ms ease-in-out;
        -o-transition: opacity 100ms ease-in-out;
    transition: opacity 100ms ease-in-out;
    background-color: rgba(194, 131, 243, 0.4);
    opacity: 0;
}

.gallery-second-image-secondhalf {
        -ms-flex-item-align: start;
    align-self: flex-start;
    margin-bottom: 0;
}

.gallery-second-image-middle {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
    align-self: center;
    margin-bottom: 0;
}

.gallery-second-imageself {
    width: 100%;
    height: 100%;
}

.gallery-second-loop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 25px;
        -webkit-transition: opacity 300ms ease-in-out;
        -o-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../images/4-gallery/loop.svg);
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;
}

.gallery-second-image:not(.mobile):hover .gallery-second-loop {
    opacity: 1;
}

.gallery-second-image:active::before {
    opacity: 1;
}

.gallery-pagination {
    top: 25px;
    margin-left: 51px;
    text-align: left !important;
    line-height: 30px;
}

.gallery-swiper-button-prev,
.gallery-swiper-button-next {
    top: 25px !important;
    width: 30px !important;
    height: 30px !important;
    border: 2px solid #666666;
    border-radius: 100px;
    background-image: url(../images/4-gallery/nav-background.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.gallery-swiper-button-prev:focus,
.gallery-swiper-button-next:focus {
    border: 2px solid #7943a4;
}

.gallery-swiper-button-prev:not(.mobile):hover,
.gallery-swiper-button-next:not(.mobile):hover {
    border: 2px solid #9d5cd0;
    background-image: url(../images/4-gallery/nav-background-hover.svg);
}

.gallery-swiper-button-prev:active,
.gallery-swiper-button-next:active {
    border: 2px solid #d1a9f0;
    background-image: url(../images/4-gallery/nav-background-active.svg);
}

.gallery-swiper-button-prev::after,
.gallery-swiper-button-next::after {
    font-size: 11px !important;
}

.gallery-swiper-button-prev {
    left: 3px !important;
}

.gallery-swiper-button-next {
    left: 103px !important;
}

:root {
    --swiper-navigation-size: none !important;
    --swiper-theme-color: none !important;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: pointer !important;
}

@media (max-width: 1024px) {
    .gallery-first {
        width: 540px;
    }

    .gallery-swiper-1920 {
        display: none;
    }

    .gallery-swiper-1024 {
        display: block;
    }

    .gallery-second-image {
        width: 47.06%;
        height: 45.605%;
        margin-bottom: 34px;
    }

    .gallery-second-image-secondhalf {
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .gallery-content {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
        flex-direction: column;
    }

    .gallery-first {
        width: 100%;
        margin-right: 0;
        margin-bottom: 82px;
    }

    .gallery-first-offer-landscape {
        display: none;
    }

    .gallery-second {
        width: 100%;
    }

    .choices {
        max-width: 280px;
    }

    .gallery-second-image {
        width: 47.06%;
        height: 280px;
    }

    .gallery-second-slide {
        padding-top: 85px;
    }

    .gallery-first-offer-768 {
        display: block;
        max-width: 100%;
        margin-top: 30px;
    }
}

@media (max-width: 700px) {
    .gallery {
        padding-top: 49px;
        padding-bottom: 70px;
    }

    .gallery-first-heading {
        margin-bottom: 13px;
        font-size: 28px;
        line-height: 38.13px;
    }

    .gallery-first-caption {
        margin-bottom: 6px;
    }

    .choices {
        max-width: 100%;
    }

    .gallery-swiper-1024 {
        display: none;
    }

    .gallery-swiper-320 {
        display: block;
    }

    .gallery-second-slide {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
        justify-content: center;
        padding-top: 35px;
        padding-bottom: 26px;
    }

    .gallery-second-image {
        width: auto;
        height: 367px;
    }

    .gallery-pagination {
        top: auto;
        bottom: 0;
        margin-left: 0;
        text-align: center !important;
    }
    
    .gallery-swiper-button-prev,
    .gallery-swiper-button-next {
        top: auto !important;
        bottom: 10px !important;
    }

    .gallery-swiper-button-prev {
        left: 27.5% !important;
    }
    
    .gallery-swiper-button-next {
        right: 27.5% !important;
        left: auto !important;
    }

    .gallery-first-offer-768 {
        margin-top: 10px;
    }
}
