.gallery {
    padding-top: 80px;
    padding-bottom: 70px;
    color: #ffffff;
    background-image: url(../images/4-gallery/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.gallery-first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 50px;
}

.gallery-first__heading {
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 48px;
    line-height: 65.37px;
}

.gallery-first__caption {
    margin-bottom: 9px;
    font-weight: 600;
}

.gallery-first__select {
    max-width: 400px;
}

.choices {
    margin-bottom: 0 !important;
}

.choices[data-type*=select-one]::after {
    display: block !important;
    width: 15px !important;
    height: 15px !important;
    right: 15px !important;
    border-style: inherit !important;
    background-image: url(../images/4-gallery/arrow.svg);
    background-repeat: no-repeat;
    background-position: top center;
}

.choices[data-type*=select-one],.is-open::after {
    margin-top: -2.5px !important;
}

.choices__placeholder {
    opacity: 1 !important;
}

.choices__inner {
    min-height: 42px !important;
    padding: 0 15px !important;
    border: 1px solid #999999 !important;
    border-radius: 6px !important;
    color: #ffffff;
    background-color: inherit !important;
}

.is-open .choices__inner {
    border: 1px solid #ffffff !important;
}

.choices__list--dropdown {
    border-radius: 6px !important;
    background-color: inherit !important;
        -webkit-transform: translateY(-40px) scaleY(0);
        -ms-transform: translateY(-40px) scaleY(0);
    transform: translateY(-40px) scaleY(0);
        -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
        -o-transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.choices__list--dropdown.is-active {
        -webkit-transform: translateY(0) scaleY(1);
        -ms-transform: translateY(0) scaleY(1);
    transform: translateY(0) scaleY(1);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: inherit !important;
}

.choices__list--dropdown .choices__item {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    border-top: 1px solid #999999 !important;
}

.is-selected {
    display: none;
}

.gallery-first__offer {
    max-width: 400px;
    margin-top: auto;
    font-weight: 600;
}

.gallery-first__offer_768 {
    display: none;
}

.gallery-first__link {
    color: #9d5cd0;
        -webkit-transition: color 300ms ease-in-out;
        -o-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}

.gallery-first__link:focus {
    outline: 2px solid #7943a4;
}

.gallery-first__link:active {
    border-bottom: none;
    color: #7943a4;
    outline: none;
}

.gallery-second {
    position: relative !important;
    width: 1150px;
    max-height: 844px;
    padding-top: 85px !important;
    padding-bottom: 8px !important;
}

.gallery-second__slide {
    height: auto !important;
}

.gallery-second__picture {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.gallery-second__image {
    display: block;
    width: 100%;
}

.gallery-second__loop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 25px;
        -webkit-transition: opacity 300ms ease-in-out;
        -o-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../images/4-gallery/loop.svg);
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;
}

.gallery-second__picture:active::before {
    opacity: 1 !important;
}

.gallery-pagination {
    top: 25px;
    margin-left: 51px;
    text-align: left !important;
    line-height: 30px;
}

.gallery-swiper-button-prev,
.gallery-swiper-button-next {
    top: 25px !important;
    width: 30px !important;
    height: 30px !important;
    border: 2px solid #666666;
    border-radius: 100px;
    background-image: url(../images/4-gallery/nav-background.svg);
    background-repeat: no-repeat;
    background-position: center;
        -webkit-transition: border-color 300ms ease-in-out, background-image 300ms ease-in-out;
        -o-transition: border-color 300ms ease-in-out, background-image 300ms ease-in-out;
    transition: border-color 300ms ease-in-out, background-image 300ms ease-in-out;
}

.gallery-swiper-button-prev:focus,
.gallery-swiper-button-next:focus {
    border: 2px solid #7943a4;
}

.gallery-swiper-button-prev:active,
.gallery-swiper-button-next:active {
    border: 2px solid #d1a9f0;
    background-image: url(../images/4-gallery/nav-background-active.svg);
}

.gallery-swiper-button-prev::after,
.gallery-swiper-button-next::after {
    font-size: 11px !important;
}

.gallery-swiper-button-prev {
    left: 3px !important;
}

.gallery-swiper-button-next {
    left: 103px !important;
}

:root {
    --swiper-navigation-size: none !important;
    --swiper-theme-color: none !important;
}

.mfp-bg {
    opacity: 0 !important;
}

@-webkit-keyframes modalAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.8;
    }
}

@keyframes modalAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.8;
    }
}

.mfp-zoom-out-cur .mfp-bg {
    opacity: 0.8 !important;
        -webkit-animation: modalAnimation 300ms linear alternate;
    animation: modalAnimation 300ms linear alternate;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: pointer !important;
}

.mfp-wrap {
    position: fixed !important;
    top: 0 !important;
}

.mfp-image-holder .mfp-content {
    width: 40%;
}

.mfp-content {
    opacity: 0;
}

@-webkit-keyframes modalContentAnimation {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes modalContentAnimation {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

.mfp-zoom-out-cur .mfp-content {
    opacity: 1;
        -webkit-animation: modalContentAnimation 300ms linear alternate;
    animation: modalContentAnimation 300ms linear alternate;
}

img.mfp-img {
    width: 100% !important;
}

.mfp-bottom-bar {
    top: 99% !important;
    padding: 18px 0;
    border-top: 2px solid #7943a4;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #ffffff;
}

.mfp-title {
    padding-left: 36px;
    font-weight: 700;
    color: #333333 !important;
}

@media (max-width: 1300px) {
    .gallery-second {
        max-height: 650px;
    }
}

@media (max-width: 1024px) {
    .gallery-first {
        width: 540px;
    }

    .gallery-second {
        max-height: 689px;
    }

    .gallery-second__slide {
        height: auto !important;
    }
}

@media (max-width: 768px) {
    .gallery__content {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
        flex-direction: column;
    }

    .gallery-first {
        width: 100%;
        margin-right: 0;
        margin-bottom: 82px;
    }

    .gallery-first__offer_landscape {
        display: none;
    }

    .gallery-second {
        width: 100%;
        max-height: 679px;
    }

    .choices {
        max-width: 280px;
    }

    .gallery-first__offer_768 {
        display: block;
        max-width: 100%;
        margin-top: 30px;
    }

    .gallery-second__slide {
        height: 280px !important;
    }

    .gallery-second__image {
        height: 280px;
    }
}

@media (max-width: 700px) {
    .gallery {
        padding-top: 49px;
        padding-bottom: 70px;
    }

    .gallery-first__heading {
        margin-bottom: 13px;
        font-size: 28px;
        line-height: 38.13px;
    }

    .gallery-first__caption {
        margin-bottom: 6px;
    }

    .choices {
        max-width: 100%;
    }

    .gallery-second {
        padding-top: 35px !important;
        padding-bottom: 60px !important;
    }

    .gallery-second__slide {
        height: 367px !important;
    }

    .gallery-second__picture {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
        justify-content: center;
        max-width: 367px;
        margin-right: auto;
        margin-left: auto;
    }

    .gallery-second__image {
        height: 367px;
    }

    .gallery-pagination {
        top: auto;
        bottom: 0;
        margin-left: 0;
        text-align: center !important;
    }
    
    .gallery-swiper-button-prev,
    .gallery-swiper-button-next {
        top: auto !important;
        bottom: 10px !important;
    }

    .gallery-swiper-button-prev {
        left: 27.5% !important;
    }
    
    .gallery-swiper-button-next {
        right: 27.5% !important;
        left: auto !important;
    }

    .gallery-first__offer_768 {
        margin-top: 10px;
    }
}

@media (hover: hover) {
    .gallery-first__link:hover {
        border-bottom: 1px solid #9d5cd0;
        outline: none;
    }

    .gallery-first__link:active {
        border-bottom: none;
        color: #7943a4;
        outline: none;
    }

    .gallery-second__picture:hover .gallery-second__loop {
        opacity: 1;
    }

    .gallery-swiper-button-prev:hover,
    .gallery-swiper-button-next:hover {
        border: 2px solid #9d5cd0;
        background-image: url(../images/4-gallery/nav-background-hover.svg);
    }

    .gallery-swiper-button-prev:active,
    .gallery-swiper-button-next:active {
        border: 2px solid #d1a9f0;
        background-image: url(../images/4-gallery/nav-background-active.svg);
    }
}
