.header {
    position: relative;
    font-size: 18px;
    line-height: 24.5px;
    color: #ffffff;
}

.header-menu {
    position: relative;
    max-height: 100px;
    padding: 30px 0;
    background-color: #000000;
}

.header-menu__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
    font-weight: 600;
}

.header__title {
    position: absolute;
    width: 0;
    visibility: hidden;
}

.header-menu__burger {
    display: none;
        -ms-flex-item-align: end;
    align-self: flex-end;
    width: 36px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border: none;
    background-color: #000000;
}

.header-menu__burger rect {
        -webkit-transition: fill 300ms ease-in-out, width 300ms ease-in-out;
        -o-transition: fill 300ms ease-in-out, width 300ms ease-in-out;
    transition: fill 300ms ease-in-out, width 300ms ease-in-out;
}

.header-menu__burger:focus {
    outline: 2px solid #7943A4;
}

.header-menu__burger:active {
    outline: none;
}

.header-menu__burger:active rect {
    fill: #9d5cd0;
}

.header-menu__burger:active rect:nth-child(2) {
    width: 28.2px;
}

.header-menu__burger:active rect:nth-child(3) {
    width: 24px;
}

.burger-active {
        -webkit-transform: translateX(200px);
        -ms-transform: translateX(200px);
    transform: translateX(200px);
}

.burger-active + .header-menu__burger rect {
    fill: #c283f3;
}

.burger-active + .header-menu__burger rect:nth-child(2) {
    width: 28.2px;
}

.burger-active + .header-menu__burger rect:nth-child(3) {
    width: 24px;
}

.header-menu__mobile {
    position: absolute;
    top: 100px;
    left: -200px;
    z-index: 3;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
        -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
        -o-transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.header-menu__mobile-item {
    position: relative;
    padding: 3px 25px 3px 25px;
    border-bottom: 1px solid #ffffff;
        -webkit-transition: border-color 300ms ease-in-out, color 300ms ease-in-out, outline 300ms ease-in-out;
        -o-transition: border-color 300ms ease-in-out, color 300ms ease-in-out, outline 300ms ease-in-out;
    transition: border-color 300ms ease-in-out, color 300ms ease-in-out, outline 300ms ease-in-out;
}

.header-menu__mobile-item:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.header-menu__mobile-link_enter svg path  {
        -webkit-transition: fill 300ms ease-in-out;
        -o-transition: fill 300ms ease-in-out;
    transition: fill 300ms ease-in-out;
}

.header-menu__mobile-item:active {
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    color: #9d5cd0;
    outline: 2px solid #ffffff;
}

.header-menu__mobile-item:active .header-menu__mobile-link-enter svg path {
    fill: #9d5cd0;
}

.header-menu__mobile-link_enter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
    justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
}

.header-menu__mobile-link_enter svg {
    margin-right: 5px;
}

.header-menu__mobile-link::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.header-menu__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 179px;
        -webkit-transition: opacity 300ms ease-in-out, -webkit-transform 100ms ease-in-out;
    transition: opacity 300ms ease-in-out, -webkit-transform 100ms ease-in-out;
        -o-transition: transform 100ms ease-in-out, opacity 300ms ease-in-out;
    transition: transform 100ms ease-in-out, opacity 300ms ease-in-out;
    transition: transform 100ms ease-in-out, opacity 300ms ease-in-out, -webkit-transform 100ms ease-in-out;
}

.header-menu__logo:focus {
    outline: 2px solid #7943A4;
}

.header-menu__logo:active {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.5;
    outline: none;
}

.header-menu__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header-menu__nav-item {
    min-width: 50px;
    margin-right: 62px;
}

.header-menu__nav-item:nth-child(7) {
    margin-right: 0;
}

.header-menu__nav-link {
    transition: color 300ms ease-in-out;
}

.header-menu__nav-link:focus {   
    outline: 2px solid #7943a4;
}

.header-menu__nav-link:active {   
    color: #7943a4;
    outline: none;
}

.header-menu__enter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
    font-weight: 400;
    transition: color 300ms ease-in-out;
}

.header-menu__enter svg {
    margin-right: 7px;
}

.header-menu__enter svg path {
        -webkit-transition: fill 300ms ease-in-out;
        -o-transition: fill 300ms ease-in-out;
    transition: fill 300ms ease-in-out;
}

.header-menu__enter:focus {   
    outline: 2px solid #7943a4;
}

.header-menu__enter:active {   
    color: #9d5cd0;
    outline: none;
}

.header-menu__enter:active svg path {
    fill: #9d5cd0;
}

.header-menu__search {
    display: none;
    width: 36px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border: none;
    background-color: #000000;
}

.header-menu__search rect,
.header-menu__search path {
        -webkit-transition: fill 300ms ease-in-out;
        -o-transition: fill 300ms ease-in-out;
    transition: fill 300ms ease-in-out;
}

.header-menu__search:focus {
    outline: 2px solid #7943A4;
}

.header-menu__search svg {
    padding-top: 2px;
    padding-left: 2px;
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.header-submenu {
    position: relative;
    z-index: 3;
    width: 100%;
    padding: 21px 0 22px 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.header-submenu__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
}

.header-submenu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header-submenu__list-item {
    position: relative;
    margin-right: 97px;
}

.header-submenu__list-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
    border: none;
    color: #ffffff;
    background-color: inherit;
        -webkit-transition: color 300ms ease-in-out;
        -o-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}

.header-submenu__list-button svg {
        -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
        -o-transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.header-submenu__list-button svg path {
        -webkit-transition: stroke 300ms ease-in-out;
        -o-transition: stroke 300ms ease-in-out;
    transition: stroke 300ms ease-in-out;
}

.header-submenu__list-button:focus {
    outline: 2px solid #7943A4;
}

.header-submenu__list-button:active svg {
        -webkit-transform: rotateX(180deg) translateY(-3px);
    transform: rotateX(180deg) translateY(-3px);
}

.header-submenu__list-button:active svg path {
    stroke: #7943a4;
}

.header-submenu__list-item_active .header-submenu__list-button {
    color: #9d5cd0;
    outline: none;
}

.header-submenu__list-item_active .header-submenu__list-button svg {
        -webkit-transform: rotateX(180deg) translateY(-3px);
    transform: rotateX(180deg) translateY(-3px);
}

.header-submenu__list-item_active .header-submenu__list-button svg path {
    stroke: #9d5cd0;
}

.header-submenu__list-item_active .header-submenu__list-button:active {
    color: #7943a4;
    outline: none;
}

.header-submenu__list-item_active .header-submenu__list-button:active svg path {
    stroke: #7943a4;
}

.header-submenu__list-item-text {
    margin-right: 4px;
}

.header-submenu__dropdown-menu {
    position: absolute;
    top: 46px;
    display: none;
    min-width: 300px;
    height: 240px;
    padding: 40px 0 40px 40px;
    background-color: rgba(0, 0, 0, 0.6);
}

.header-submenu__dropdown-list {
    position: relative;
    width: fit-content;
    min-width: 260px;
    padding-right: 40px;
    height: 160px;
    overflow: auto;
}

.header-submenu__list-item_active.header-submenu__dropdown-menu {
    display: block;
}

.header-submenu__dropdown-item {
    position: relative;
    margin-bottom: 20px;
    padding: 10px 14px;
    border: 2px solid transparent;
    background-repeat: no-repeat;
    background-size: cover;
        -webkit-transition: border 300ms ease-in-out;
        -o-transition: border 300ms ease-in-out;
    transition: border 300ms ease-in-out;
    cursor: pointer;
}

.header-submenu__dropdown-item:last-child {
    margin-bottom: 0;
}

/* First List */
.header-submenu__dropdown-menu_first .header-submenu__dropdown-item:nth-child(1) {
    background-image: url(../images/1-header/option-1-1.jpg);
    background-position: center -30px;
}

.header-submenu__dropdown-menu_first .header-submenu__dropdown-item:nth-child(2) {
    background-image: url(../images/1-header/option-1-2.jpg);
    background-position: center -65px;
}

.header-submenu__dropdown-menu_first .header-submenu__dropdown-item:nth-child(3) {
    background-image: url(../images/1-header/option-1-3.jpg);
}

.header-submenu__dropdown-menu_first .header-submenu__dropdown-item:nth-child(4) {
    background-image: url(../images/1-header/option-1-4.jpg);
    background-position: center -35px;
}

.header-submenu__dropdown-menu_first .header-submenu__dropdown-item:nth-child(5) {
    background-image: url(../images/1-header/option-1-5.jpg);
    background-position: center -67px;
}

.header-submenu__dropdown-menu_first .header-submenu__dropdown-item:nth-child(6) {
    background-image: url(../images/1-header/option-1-6.jpg);
    background-position: center -10px;
}

.header-submenu__dropdown-menu_first .header-submenu__dropdown-item:nth-child(7) {
    background-image: url(../images/1-header/option-1-7.jpg);
}

.header-submenu__dropdown-menu_first .header-submenu__dropdown-item:nth-child(8) {
    background-image: url(../images/1-header/option-1-8.jpg);
    background-position: center -15px;
}

/* Second List */
.header-submenu__dropdown-menu_second .header-submenu__dropdown-item:nth-child(1) {
    background-image: url(../images/1-header/option-2-1.jpg);
    background-position: center -50px;
}

.header-submenu__dropdown-menu_second .header-submenu__dropdown-item:nth-child(2) {
    background-image: url(../images/1-header/option-2-2.jpg);
    background-position: center -50px;
}

.header-submenu__dropdown-menu_second .header-submenu__dropdown-item:nth-child(3) {
    background-image: url(../images/1-header/option-2-3.jpg);
}

.header-submenu__dropdown-menu_second .header-submenu__dropdown-item:nth-child(4) {
    background-image: url(../images/1-header/option-2-4.jpg);
}

.header-submenu__dropdown-menu_second .header-submenu__dropdown-item:nth-child(5) {
    background-image: url(../images/1-header/option-2-5.jpg);
}

.header-submenu__dropdown-menu_second .header-submenu__dropdown-item:nth-child(6) {
    background-image: url(../images/1-header/option-2-6.jpg);
}

.header-submenu__dropdown-menu_second .header-submenu__dropdown-item:nth-child(7) {
    background-image: url(../images/1-header/option-2-7.jpg);
    background-position: center -100px;
}

.header-submenu__dropdown-menu_second .header-submenu__dropdown-item:nth-child(8) {
    background-image: url(../images/1-header/option-2-8.jpg);
    background-position: center -50px;
}

/* Third List */
.header-submenu__dropdown-menu_third .header-submenu__dropdown-item:nth-child(1) {
    background-image: url(../images/1-header/option-3-1.jpg);
    background-position: center -150px;
}

.header-submenu__dropdown-menu_third .header-submenu__dropdown-item:nth-child(2) {
    background-image: url(../images/1-header/option-3-2.jpg);
}

.header-submenu__dropdown-menu_third .header-submenu__dropdown-item:nth-child(3) {
    background-image: url(../images/1-header/option-3-3.jpg);
}

.header-submenu__dropdown-menu_third .header-submenu__dropdown-item:nth-child(4) {
    background-image: url(../images/1-header/option-3-4.jpg);
}

.header-submenu__dropdown-menu_third .header-submenu__dropdown-item:nth-child(5) {
    background-image: url(../images/1-header/option-3-5.jpg);
}

/* Fourth List */
.header-submenu__dropdown-menu_fourth .header-submenu__dropdown-item:nth-child(1) {
    background-image: url(../images/1-header/option-4-1.jpg);
}

.header-submenu__dropdown-menu_fourth .header-submenu__dropdown-item:nth-child(2) {
    background-image: url(../images/1-header/option-4-2.jpg);
}

.header-submenu__dropdown-menu_fourth .header-submenu__dropdown-item:nth-child(3) {
    background-image: url(../images/1-header/option-4-3.jpg);
    background-position: center -70px;
}

.header-submenu__dropdown-menu_fourth .header-submenu__dropdown-item:nth-child(4) {
    background-image: url(../images/1-header/option-4-4.jpg);
}

.header-submenu__dropdown-menu_fourth .header-submenu__dropdown-item:nth-child(5) {
    background-image: url(../images/1-header/option-4-5.jpg);
}

/* Fifth List */
.header-submenu__dropdown-menu_fifth .header-submenu__dropdown-item:nth-child(1) {
    background-image: url(../images/1-header/option-5-1.jpg);
    background-position: center -150px;
}

.header-submenu__dropdown-menu_fifth .header-submenu__dropdown-item:nth-child(2) {
    background-image: url(../images/1-header/option-5-2.jpg);
}

.header-submenu__dropdown-menu_fifth .header-submenu__dropdown-item:nth-child(3) {
    background-image: url(../images/1-header/option-5-3.jpg);
}

.header-submenu__dropdown-menu_fifth .header-submenu__dropdown-item:nth-child(4) {
    background-image: url(../images/1-header/option-5-4.jpg);
}

.header-submenu__dropdown-menu_fifth .header-submenu__dropdown-item:nth-child(5) {
    background-image: url(../images/1-header/option-5-5.jpg);
}

.header-submenu__dropdown-item:active {
    border: 2px solid #d1a9f0;
}

.header-submenu__dropdown-link::before {
        -webkit-transition: background-color 300ms ease-in-out;
        -o-transition: background-color 300ms ease-in-out;
    transition: background-color 300ms ease-in-out;
}

.header-submenu__dropdown-item:active .header-submenu__dropdown-link::before {
    background-color: rgba(194, 131, 243, 0.4);
}

.header-submenu__dropdown-link::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

[data-simplebar] {
    position: absolute !important;
}

.simplebar-track {
    width: 2px !important;
    margin-right: 19px;
    background: #666666;
}

.simplebar-scrollbar::before {
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 2px !important;
}

.header-submenu__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
}

.header-submenu__search svg {
    margin-top: 4px;
    margin-right: 9px;
}

.header-submenu__search:focus {
    outline: 2px solid #7943a4;
}

.header-submenu__search input {
        -webkit-transition: border-color 300ms ease-in-out;
        -o-transition: border-color 300ms ease-in-out;
    transition: border-color 300ms ease-in-out;
}

.header-submenu__search-input {
    width: 218px;
    padding-top: 4px;
    padding-bottom: 3px;
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    background-color: inherit;
    caret-color: #c283f3;
}

.header-submenu__search svg rect,
.header-submenu__search svg path {
        -webkit-transition: fill 300ms ease-in-out;
        -o-transition: fill 300ms ease-in-out;
    transition: fill 300ms ease-in-out;
}

.header-submenu__search-input:focus + svg path,
.header-submenu__search-input:focus + svg rect {
    fill: #c283f3;
}

.header-submenu__search-input::placeholder {
    color: #ffffff;
}

@media (max-width: 1550px) {
    .header-menu__logo {
        margin-right: 80px;
    }

    .header-menu__nav-item {
        margin-right: 40px;
    }

    .header-submenu__list-item {
        margin-right: 50px;
    }
}

@media (max-width: 1300px) {
    .header-menu__logo {
        margin-right: 40px;
    }

    .header-menu__nav-item {
        margin-right: 20px;
        font-size: 14px;
    }

    .header-submenu__list {
        font-size: 14px;
    }

    .header-submenu__list-item {
        margin-right: 25px;
    }

    .header-submenu__search-input::placeholder {
        font-size: 14px;
    }
}

@media (max-width: 1024px) {
    .header-menu__burger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .header-menu__logo {
        margin-right: auto;
        margin-left: auto;
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    .header-menu__nav-menu {
        display: none;
    }

    .header-menu__enter {
        display: none;
    }

    .header-menu__search {
        display: block;
    }

    .header-submenu {
        display: none;
    }
}

@media (max-width: 700px) {
    .header-menu {
        max-height: 45px;
        padding: 5px 0 10px 0;
    }

    .header-menu__mobile {
        top: 45px;
        font-size: 12px;
    }

    .header-menu__mobile-item {
        padding: 1px 15px 1px 15px;
    }

    .header-menu__burger {
        width: 20px;
        padding-top: 3px;
    }

    .header-menu__logo {
        width: 96.8px;
        height: auto;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
        transform: scale(1);
    }

    .header-menu__search {
        width: 20px;
            -webkit-transform: scale(0.5);
            -ms-transform: scale(0.5);
        transform: scale(0.5);
    }
}

@media (hover: hover) {
    .header-menu__burger:hover {
        outline: none;
    }
    
    .header-menu__burger:hover rect {
        fill: #c283f3;
    }
    
    .header-menu__burger:hover rect:nth-child(2) {
        width: 28.2px;
    }
    
    .header-menu__burger:hover rect:nth-child(3) {
        width: 24px;
    }

    .header-menu__burger:active {
        outline: none;
    }
    
    .header-menu__burger:active rect {
        fill: #9d5cd0;
    }
    
    .header-menu__burger:active rect:nth-child(2) {
        width: 28.2px;
    }
    
    .header-menu__burger:active rect:nth-child(3) {
        width: 24px;
    }

    .header-menu__mobile-item:hover {
        border-bottom: 1px solid rgba(0, 0, 0, 0.8);
        color: #c283f3;
        outline: 2px solid #d1a9f0;
    }
    
    .header-menu__mobile-item:hover .header-menu__mobile-link_enter svg path {
        fill: #c283f3;
    }

    .header-menu__mobile-item:active {
        border-bottom: 1px solid rgba(0, 0, 0, 0.8);
        color: #9d5cd0;
        outline: 2px solid #ffffff;
    }
    
    .header-menu__mobile-item:active .header-menu__mobile-link-enter svg path {
        fill: #9d5cd0;
    }

    .header-menu__logo:hover {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
        transform: scale(1.1);
        outline: none;
    }

    .header-menu__nav-link:hover {   
        color: #c283f3;
        outline: none;
    }

    .header-menu__nav-link:active {   
        color: #7943a4;
        outline: none;
    }

    .header-menu__enter:hover {   
        color: #c283f3;
        outline: none;
    }
    
    .header-menu__enter:hover svg path {
        fill: #c283f3;
    }

    .header-menu__enter:active {   
        color: #9d5cd0;
        outline: none;
    }
    
    .header-menu__enter:active svg path {
        fill: #9d5cd0;
    }

    .header-menu__search:hover {
        outline: none;
    }
    
    .header-menu__search:hover rect,
    .header-menu__search:hover path {
        fill: #c283f3;
    }

    .header-menu__search:active rect,
    .header-menu__search:active path {
        fill: #9d5cd0;
    }

    .header-submenu__list-button:hover {
        color: #9d5cd0;
        outline: none;
    }

    .header-submenu__list-button:active {
        color: #7943a4;
        outline: none;
    }
    
    .header-submenu__list-button:hover svg path {
        stroke: #9d5cd0;
    }

    .header-submenu__list-button:active svg {
            -webkit-transform: rotateX(180deg) translateY(-3px);
        transform: rotateX(180deg) translateY(-3px);
    }

    .header-submenu__list-button:active svg path {
        stroke: #7943a4;
    }

    .header-submenu__dropdown-item:hover {
        border: 2px solid #9d5cd0;
    }

    .header-submenu__dropdown-item:active {
        border: 2px solid #d1a9f0;
    }

    .header-submenu__search:hover input {
        border-bottom: 1px solid #c283f3;
    }
    
    .header-submenu__search:hover svg rect,
    .header-submenu__search:hover svg path {
        fill: #c283f3;
    }
}
