.header {
    position: relative;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.header-menu {
    position: relative;
    height: 100px;
    padding: 30px 0;
    background-color: #000000;
}

.header-menu__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
    font-weight: 600;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
}

.header-menu__burger {
    display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    flex-direction: column;
    width: 36px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border: none;
    color: #ffffff;
    background-color: #000000;
        -webkit-animation: mobileMenu 300ms alternate linear;
    animation: mobileMenu 300ms alternate linear;
    cursor: pointer;
}

.header-menu__burger-icon {
    margin-bottom: 9px;
        -webkit-transition: color 300ms ease-in-out, width 300ms ease-in-out;
        -o-transition: color 300ms ease-in-out, width 300ms ease-in-out;
    transition: color 300ms ease-in-out, width 300ms ease-in-out;
}

.header-menu__burger-icon_third {
    margin-bottom: 0;
}

.header-menu__burger:focus {
    outline: 2px solid #7943A4;
}

.header-menu__burger:active {
    outline: none;
}

.burger-active + .header-menu__burger {
    color: #c283f3;
}

.burger-active + .header-menu__burger .header-menu__burger-icon_second {
    width: 28px;
}

.burger-active + .header-menu__burger .header-menu__burger-icon_third {
    width: 24px;
}

.header-menu__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 179px;
        -webkit-transition: opacity 300ms ease-in-out, -webkit-transform 100ms ease-in-out;
    transition: opacity 300ms ease-in-out, -webkit-transform 100ms ease-in-out;
        -o-transition: transform 100ms ease-in-out, opacity 300ms ease-in-out;
    transition: transform 100ms ease-in-out, opacity 300ms ease-in-out;
    transition: transform 100ms ease-in-out, opacity 300ms ease-in-out, -webkit-transform 100ms ease-in-out;
        -webkit-animation: mobileMenu 300ms alternate linear;
    animation: mobileMenu 300ms alternate linear;
}

.header-menu__logo:focus {
    outline: 2px solid #7943A4;
}

@-webkit-keyframes mobileMenu {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes mobileMenu {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes mobileMenuClosing {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes mobileMenuClosing {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.header-menu__nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.header-menu__close {
    display: none;
    border: none;
    color: #ffffff;
    background-color: inherit;
    cursor: pointer;
        -webkit-transition: color 300ms ease-in-out;
        -o-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}

.header-menu__close:focus {
    outline: 2px solid #7943a4;
}

.header-menu__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

.header-menu__nav-item {
    min-width: 50px;
    margin-right: 62px;
}

.header-menu__nav-item:nth-child(7) {
    margin-right: 0;
}

.header-menu__nav-link {
    text-decoration: none;
    color: inherit;
        -webkit-transition: color 300ms ease-in-out;
        -o-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}

.header-menu__nav-link:focus {   
    outline: 2px solid #7943a4;
}

.header-menu__enter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
        -webkit-transition: color 300ms ease-in-out, border 300ms ease-in-out;
        -o-transition: color 300ms ease-in-out, border 300ms ease-in-out;
    transition: color 300ms ease-in-out, border 300ms ease-in-out;
}

.header-menu__enter-icon {
    margin-right: 7px;
}

.header-menu__enter:focus {   
    outline: 2px solid #7943a4;
}

@-webkit-keyframes searchMenu {
    0% {
        background-color: #000000;
        -webkit-transform: translateX(231px);
                transform: translateX(231px);
    }

    100% {
        background-color: #18171b;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@keyframes searchMenu {
    0% {
        background-color: #000000;
        -webkit-transform: translateX(231px);
                transform: translateX(231px);
    }

    100% {
        background-color: #18171b;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@-webkit-keyframes searchMenuSmartphone {
    0% {
        background-color: transparent;
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }

    100% {
        background-color: transparent;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@keyframes searchMenuSmartphone {
    0% {
        background-color: transparent;
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }

    100% {
        background-color: transparent;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

.header-menu__search-content {
    position: relative;
    display: none;
    width: 36px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
        -webkit-animation: mobileMenu 300ms alternate linear;
    animation: mobileMenu 300ms alternate linear;
}

.header-menu__search {
    border: none;
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
}

.header-menu__search::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    outline: inherit;
}

.header-menu__search:focus {
    outline: none;
}

.header-menu__search:focus::before {
    outline: 2px solid #7943a4;
}

.header-menu__search-icon {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-top: 2px;
    padding-left: 2px;
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
    transform: scale(1.5);
        -webkit-transition: color 300ms ease-in-out;
        -o-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}

.header-menu__search-close {
    position: relative;
    display: none;
    border: none;
    color: #ffffff;
    background-color: inherit;
    cursor: pointer;
}

.header-menu__search-close-image {
        -webkit-transition: color 300ms ease-in-out;
        -o-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}

.header-submenu {
    position: relative;
    z-index: 3;
    width: 100%;
    padding: 21px 0 22px 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.header-submenu__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
}

.header-submenu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

.header-submenu__list-item {
    position: relative;
    margin-right: 97px;
}

.header-submenu__list-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
    border: none;
    color: #ffffff;
    background-color: inherit;
        -webkit-transition: color 300ms ease-in-out;
        -o-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
    cursor: pointer;
}

.header-submenu__list-button:focus {
    width: calc(100% + 7px);
    outline: 2px solid #7943A4;
}

.header-submenu__list-button:active {
    color: #7943a4;
    outline: none;
}

.header-submenu__list-text::after {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    margin-left: 4px;
        -webkit-transform: rotateZ(45deg) translateY(-4px);
        -ms-transform: rotate(45deg) translateY(-4px);
    transform: rotateZ(45deg) translateY(-4px);
        -webkit-transition: border 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    transition: border 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
        -o-transition: border 300ms ease-in-out, transform 300ms ease-in-out;
    transition: border 300ms ease-in-out, transform 300ms ease-in-out;
    transition: border 300ms ease-in-out, transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.header-submenu__list-item_active .header-submenu__list-button {
    color: #9d5cd0;
    outline: none;
}

.header-submenu__list-button:active .header-submenu__list-text::after {
    border-color: #7943a4;
        -webkit-transform: rotateX(180deg) rotateZ(45deg) translateY(-3px);
    transform: rotateX(180deg) rotateZ(45deg) translateY(-3px);
}

.header-submenu__list-item_active .header-submenu__list-text::after {
    border-color: #9d5cd0;
        -webkit-transform: rotateX(180deg) rotateZ(45deg) translateY(-3px);
    transform: rotateX(180deg) rotateZ(45deg) translateY(-3px);
}

.header-submenu__dropdown-menu {
    position: absolute;
    top: 46px;
    display: none;
    min-width: 300px;
    height: 240px;
    padding: 40px 0 40px 40px;
    background-color: rgba(0, 0, 0, 0.6);
}

.header-submenu__dropdown-list {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 260px;
    padding-right: 40px;
    height: 160px;
    overflow: auto;
    list-style: none;
}

.header-submenu__list-item_active.header-submenu__dropdown-menu {
    display: block;
}

.header-submenu__dropdown-item {
    position: relative;
    margin-bottom: 20px;
    padding: 10px 14px;
    border: 2px solid transparent;
    background-repeat: no-repeat;
    background-size: cover;
        -webkit-transition: border 300ms ease-in-out;
        -o-transition: border 300ms ease-in-out;
    transition: border 300ms ease-in-out;
    cursor: pointer;
}

.header-submenu__dropdown-item:last-child {
    margin-bottom: 0;
}

.header-submenu__dropdown-item:active {
    border: 2px solid #d1a9f0;
}

.header-submenu__dropdown-item:active .header-submenu__dropdown-link::before {
    background-color: rgba(194, 131, 243, 0.4);
}

/* First List */
.header-submenu__dropdown-menu_first .header-submenu__dropdown-item:nth-child(1) {
    background-image: url(../images/1-header/webp/option-1-1.webp), url(../images/1-header/option-1-1.jpg);
    background-position: center -30px;
}

.header-submenu__dropdown-menu_first .header-submenu__dropdown-item:nth-child(2) {
    background-image: url(../images/1-header/webp/option-1-2.webp), url(../images/1-header/option-1-2.jpg);
    background-position: center -65px;
}

.header-submenu__dropdown-menu_first .header-submenu__dropdown-item:nth-child(3) {
    background-image: url(../images/1-header/webp/option-1-3.webp), url(../images/1-header/option-1-3.jpg);
}

.header-submenu__dropdown-menu_first .header-submenu__dropdown-item:nth-child(4) {
    background-image: url(../images/1-header/webp/option-1-4.webp), url(../images/1-header/option-1-4.jpg);
    background-position: center -35px;
}

.header-submenu__dropdown-menu_first .header-submenu__dropdown-item:nth-child(5) {
    background-image: url(../images/1-header/webp/option-1-5.webp), url(../images/1-header/option-1-5.jpg);
    background-position: center -67px;
}

.header-submenu__dropdown-menu_first .header-submenu__dropdown-item:nth-child(6) {
    background-image: url(../images/1-header/webp/option-1-6.webp), url(../images/1-header/option-1-6.jpg);
    background-position: center -10px;
}

.header-submenu__dropdown-menu_first .header-submenu__dropdown-item:nth-child(7) {
    background-image: url(../images/1-header/webp/option-1-7.webp), url(../images/1-header/option-1-7.jpg);
}

.header-submenu__dropdown-menu_first .header-submenu__dropdown-item:nth-child(8) {
    background-image: url(../images/1-header/webp/option-1-8.webp), url(../images/1-header/option-1-8.jpg);
    background-position: center -15px;
}

/* Second List */
.header-submenu__dropdown-menu_second .header-submenu__dropdown-item:nth-child(1) {
    background-image: url(../images/1-header/webp/option-2-1.webp), url(../images/1-header/option-2-1.jpg);
    background-position: center -50px;
}

.header-submenu__dropdown-menu_second .header-submenu__dropdown-item:nth-child(2) {
    background-image: url(../images/1-header/webp/option-2-2.webp), url(../images/1-header/option-2-2.jpg);
    background-position: center -50px;
}

.header-submenu__dropdown-menu_second .header-submenu__dropdown-item:nth-child(3) {
    background-image: url(../images/1-header/webp/option-2-3.webp), url(../images/1-header/option-2-3.jpg);
}

.header-submenu__dropdown-menu_second .header-submenu__dropdown-item:nth-child(4) {
    background-image: url(../images/1-header/webp/option-2-4.webp), url(../images/1-header/option-2-4.jpg);
}

.header-submenu__dropdown-menu_second .header-submenu__dropdown-item:nth-child(5) {
    background-image: url(../images/1-header/webp/option-2-5.webp), url(../images/1-header/option-2-5.jpg);
}

.header-submenu__dropdown-menu_second .header-submenu__dropdown-item:nth-child(6) {
    background-image: url(../images/1-header/webp/option-2-6.webp), url(../images/1-header/option-2-6.jpg);
}

.header-submenu__dropdown-menu_second .header-submenu__dropdown-item:nth-child(7) {
    background-image: url(../images/1-header/webp/option-2-7.webp), url(../images/1-header/option-2-7.jpg);
    background-position: center -100px;
}

.header-submenu__dropdown-menu_second .header-submenu__dropdown-item:nth-child(8) {
    background-image: url(../images/1-header/webp/option-2-8.webp), url(../images/1-header/option-2-8.jpg);
    background-position: center -50px;
}

/* Third List */
.header-submenu__dropdown-menu_third .header-submenu__dropdown-item:nth-child(1) {
    background-image: url(../images/1-header/webp/option-3-1.webp), url(../images/1-header/option-3-1.jpg);
    background-position: center -150px;
}

.header-submenu__dropdown-menu_third .header-submenu__dropdown-item:nth-child(2) {
    background-image: url(../images/1-header/webp/option-3-2.webp), url(../images/1-header/option-3-2.jpg);
}

.header-submenu__dropdown-menu_third .header-submenu__dropdown-item:nth-child(3) {
    background-image: url(../images/1-header/webp/option-3-3.webp), url(../images/1-header/option-3-3.jpg);
}

.header-submenu__dropdown-menu_third .header-submenu__dropdown-item:nth-child(4) {
    background-image: url(../images/1-header/webp/option-3-4.webp), url(../images/1-header/option-3-4.jpg);
}

.header-submenu__dropdown-menu_third .header-submenu__dropdown-item:nth-child(5) {
    background-image: url(../images/1-header/webp/option-3-5.webp), url(../images/1-header/option-3-5.jpg);
}

/* Fourth List */
.header-submenu__dropdown-menu_fourth .header-submenu__dropdown-item:nth-child(1) {
    background-image: url(../images/1-header/webp/option-4-1.webp), url(../images/1-header/option-4-1.jpg);
}

.header-submenu__dropdown-menu_fourth .header-submenu__dropdown-item:nth-child(2) {
    background-image: url(../images/1-header/webp/option-4-2.webp), url(../images/1-header/option-4-2.jpg);
}

.header-submenu__dropdown-menu_fourth .header-submenu__dropdown-item:nth-child(3) {
    background-image: url(../images/1-header/webp/option-4-3.webp), url(../images/1-header/option-4-3.jpg);
    background-position: center -70px;
}

.header-submenu__dropdown-menu_fourth .header-submenu__dropdown-item:nth-child(4) {
    background-image: url(../images/1-header/webp/option-4-4.webp), url(../images/1-header/option-4-4.jpg);
}

.header-submenu__dropdown-menu_fourth .header-submenu__dropdown-item:nth-child(5) {
    background-image: url(../images/1-header/webp/option-4-5.webp), url(../images/1-header/option-4-5.jpg);
}

/* Fifth List */
.header-submenu__dropdown-menu_fifth .header-submenu__dropdown-item:nth-child(1) {
    background-image: url(../images/1-header/webp/option-5-1.webp), url(../images/1-header/option-5-1.jpg);
    background-position: center -150px;
}

.header-submenu__dropdown-menu_fifth .header-submenu__dropdown-item:nth-child(2) {
    background-image: url(../images/1-header/webp/option-5-2.webp), url(../images/1-header/option-5-2.jpg);
}

.header-submenu__dropdown-menu_fifth .header-submenu__dropdown-item:nth-child(3) {
    background-image: url(../images/1-header/webp/option-5-3.webp), url(../images/1-header/option-5-3.jpg);
}

.header-submenu__dropdown-menu_fifth .header-submenu__dropdown-item:nth-child(4) {
    background-image: url(../images/1-header/webp/option-5-4.webp), url(../images/1-header/option-5-4.jpg);
}

.header-submenu__dropdown-menu_fifth .header-submenu__dropdown-item:nth-child(5) {
    background-image: url(../images/1-header/webp/option-5-5.webp), url(../images/1-header/option-5-5.jpg);
}

.header-submenu__dropdown-item:active {
    border: 2px solid #d1a9f0;
}

.header-submenu__dropdown-link {
    text-decoration: none;
    color: inherit;
}

.header-submenu__dropdown-link::before {
        -webkit-transition: background-color 300ms ease-in-out;
        -o-transition: background-color 300ms ease-in-out;
    transition: background-color 300ms ease-in-out;
}

.header-submenu__dropdown-item:active .header-submenu__dropdown-link::before {
    background-color: rgba(194, 131, 243, 0.4);
}

.header-submenu__dropdown-link::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

[data-simplebar] {
    position: absolute;
}

.simplebar-track {
    margin-right: 19px;
    background: #666666;
}

.simplebar-track.simplebar-vertical {
    width: 2px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 2px;
}

.header-submenu__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
}

.header-submenu__search-icon {
    margin-top: 4px;
    margin-right: 9px;
}

.header-submenu__search-input {
    width: 218px;
    padding-top: 4px;
    padding-bottom: 3px;
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    background-color: inherit;
    caret-color: #c283f3;
        -webkit-transition: border-color 300ms ease-in-out;
        -o-transition: border-color 300ms ease-in-out;
    transition: border-color 300ms ease-in-out;
    outline: none;
}

.header-submenu__search-input:focus::-webkit-input-placeholder {
    color: transparent
}
  
.header-submenu__search-input:focus::-moz-placeholder {
    color: transparent
}
  
.header-submenu__search-input:focus:-ms-input-placeholder {
    color: transparent
}

.header-submenu__search-icon {
    color: #ffffff;
        -webkit-transition: color 300ms ease-in-out;
        -o-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}

.header-submenu__search-input:focus + .header-submenu__search-icon {
    color: #c283f3;
}

.header-submenu__search-input::placeholder {
    color: #ffffff;
}

.header-menu__burger:active {
    color: #9d5cd0;
    outline: none;
}

.header-menu__burger:active .header-menu__burger-icon_second {
    width: 28px;
}

.header-menu__burger:active .header-menu__burger-icon_third {
    width: 24px;
}

.header-menu__close:active {
    color: #7943a4;
    outline: none;
}

.header-menu__nav-link:active {   
    color: #7943a4;
    outline: none;
}

.header-menu__enter:active {   
    color: #9d5cd0;
    outline: none;
}

.header-menu__search:active::before {
    outline: none;
}

.header-menu__search:active .header-menu__search-icon {
    color: #9d5cd0;
}

.header-menu__search-close:active {
    outline: none;
}

.header-menu__search-close:active .header-menu__search-close-image {
    color: #9d5cd0;
}

@media (max-width: 1550px) {
    .header-menu__logo {
        margin-right: 80px;
    }

    .header-menu__nav-item {
        margin-right: 40px;
    }

    .header-submenu__list-item {
        margin-right: 50px;
    }
}

@media (max-width: 1300px) {
    .header-menu__logo {
        margin-right: 40px;
    }

    .header-menu__nav-item {
        margin-right: 20px;
        font-size: 14px;
    }

    .header-submenu__list {
        font-size: 14px;
    }

    .header-submenu__list-item {
        margin-right: 22px;
    }

    .header-submenu__search-input::placeholder {
        font-size: 14px;
    }
}

@media (max-width: 1024px) {
    .header-menu__burger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .header-menu__logo {
        margin-right: auto;
        margin-left: auto;
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    .header-menu__nav-menu {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        display: none;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
        flex-direction: column;
            -webkit-box-align: start;
            -ms-flex-align: start;
        align-items: flex-start;
        width: 100%;
        padding: 37px 50px 51px 50px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .burger-active {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            -webkit-animation: mobileMenu 300ms alternate linear;
        animation: mobileMenu 300ms alternate linear;
    }

    .burger-closing {
            -webkit-animation: mobileMenuClosing 300ms alternate linear;
        animation: mobileMenuClosing 300ms alternate linear;
    }

    .header-menu__close {
        display: block;
        margin-bottom: 30px;
    }

    .header-menu__nav {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 72px;
        line-height: 64px;
    }
    
    .header-menu__nav-item {
        position: relative;
        margin-right: 0;
        padding: 2px 0;
        font-size: 24px;
        text-align: left;
    }

    .header-menu__nav-item:last-child {
        margin-bottom: 5px;
    }
    
    .header-menu__nav-link {
        text-decoration: none;
        color: inherit;
    }

    .header-menu__nav-link::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    
    .header-menu__enter {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
        justify-content: center;
        margin-left: 0;
        padding: 20px 88px;
        border: 2px solid #9d5cd0;
        border-radius: 100px;
        font-size: 24px;
    }

    .header-menu__enter:focus {
        outline: none;
        border-color: #d1a9f0;
    }

    .header-menu__enter:active {
        border-color: #7943a4;
    }

    .header-menu__search-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
        justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
        align-items: center;
        height: 36px;
    }

    .search-active {
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
        justify-content: space-between;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        background-color: #18171b;
            -webkit-animation: searchMenu 300ms alternate linear;
        animation: searchMenu 300ms alternate linear;
    }

    .search-active .header-menu__search-input {
        display: inline-block;
            -webkit-animation: mobileMenu 300ms alternate linear;
        animation: mobileMenu 300ms alternate linear;
    }

    .header-menu__search-input {
        position: relative;
        display: none;
        width: 218px;
        margin-left: 19px;
        border: none;
        border-bottom: 1px solid #ffffff;
        color: #ffffff;
        background-color: inherit;
        caret-color: #c283f3;
        outline: none;
    }

    .header-menu__search-input:focus::-webkit-input-placeholder {
        color: #ffffff;
    }
      
    .header-menu__search-input:focus::-moz-placeholder {
        color: #ffffff;
    }
      
    .header-menu__search-input:focus:-ms-input-placeholder {
        color: #ffffff;
    }

    .header-menu__search-input::placeholder {
        color: #ffffff;
    }

    .header-submenu {
        display: none;
    }
}

@media (max-width: 768px) {
    .header-menu__nav-menu {
        padding: 37px 50px 79px 50px;
    }

    .element-disabled {
        display: none;
    }

    .search-active {
        width: 100%;
        background-color: #000000;
            -webkit-animation: searchMenuSmartphone 300ms alternate linear;
        animation: searchMenuSmartphone 300ms alternate linear;
    }

    .header-menu__search {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }

    .header-menu__search-input {
        width: 100%;
        margin-right: 20px;
        margin-left: 10px;
    }

    .search-close-active {
        display: inline-block;
            -webkit-animation: mobileMenu 300ms alternate linear;
        animation: mobileMenu 300ms alternate linear;
    }
}

@media (max-width: 700px) {
    .header-menu::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        display: block;
            -webkit-transition: background-color 300ms ease-in-out;
            -o-transition: background-color 300ms ease-in-out;
        transition: background-color 300ms ease-in-out;
    }

    .menu-active.header-menu::before {
        z-index: 2;
        width: 100%;
        height: 75px;
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), color-stop(45%, #000));
        background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.4) 0%, #000 45%);
        background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, #000 45%);
        background-color: rgba(196, 196, 196, 0.4);
    }

    .header-menu {
        height: 45px;
        padding: 10px 0 10px 0;
    }

    .header-menu__nav-menu {
        padding: 15px 15px 27px 15px;
    }

    .header-menu__close {
        margin-bottom: 0;
    }

    .header-menu__close-image {
            -webkit-transform: scale(0.5) translateX(-12px) translateY(-12px);
            -ms-transform: scale(0.5) translateX(-12px) translateY(-12px);
        transform: scale(0.5) translateX(-12px) translateY(-12px);
    }

    .header-menu__nav {
        margin-bottom: 18px;
        line-height: 30px;
    }

    .header-menu__nav-item {
        padding: 0;
        font-size: 16px;
    }

    .header-menu__enter {
        padding: 10px 32px;
        font-size: 16px;
    }

    .header-menu__burger {
        z-index: 3;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }

    .header-menu__burger-icon {
        width: 20px;
        height: 2px;
        margin-bottom: 5px;
    }

    .header-menu__burger-icon_third {
        margin-bottom: 0;
    }

    .header-menu__logo {
        z-index: 3;
        width: 97px;
        height: auto;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
        transform: scale(1);
    }

    .header-menu__search-content {
        z-index: 3;
        background-color: inherit;
    }

    .search-active {
            -webkit-box-align: start;
            -ms-flex-align: start;
        align-items: flex-start;
        height: 51px;
        margin-left: 42px;
        padding-top: 4px;
    }

    .header-menu__search {
        background-color: inherit;
    }

    .search-active .header-menu__search {
            -ms-flex-item-align: end;
        align-self: flex-end;
    }

    .header-menu__search-icon {
            -webkit-transform: scale(0.75);
            -ms-transform: scale(0.75);
        transform: scale(0.75);
    }

    .header-menu__search-input {
            -ms-flex-item-align: end;
        align-self: flex-end;
        margin-right: 30px;
        margin-bottom: 7px;
    }

    .header-menu__search-close-image {
            -webkit-transform: scale(0.5);
            -ms-transform: scale(0.5);
        transform: scale(0.5);
    }
}

@media (hover: hover) {
    .header-menu__burger:hover {
        color: #c283f3;
        outline: none;
    }
    
    .header-menu__burger:hover .header-menu__burger-icon_second {
        width: 28px;
    }
    
    .header-menu__burger:hover .header-menu__burger-icon_third {
        width: 24px;
    }

    .header-menu__burger:active {
        color: #9d5cd0;
        outline: none;
    }
    
    .header-menu__burger:active .header-menu__burger-icon_second {
        width: 28px;
    }
    
    .header-menu__burger:active .header-menu__burger-icon_third {
        width: 24px;
    }

    .header-menu__logo:hover {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
        transform: scale(1.1);
        outline: none;
    }

    .header-menu__close:hover {
        color: #9d5cd0;
        outline: none;
    }

    .header-menu__close:active {
        color: #7943a4;
        outline: none;
    }

    .header-menu__nav-link:hover {   
        color: #c283f3;
        outline: none;
    }

    .header-menu__nav-link:active {   
        color: #7943a4;
        outline: none;
    }

    .header-menu__enter:hover {   
        color: #c283f3;
        outline: none;
    }

    .header-menu__enter:active {   
        color: #9d5cd0;
        outline: none;
    }

    .header-menu__search:hover::before {
        outline: none;
    }

    .header-menu__search:active::before {
        outline: none;
    }
    
    .header-menu__search:hover .header-menu__search-icon {
        color: #c283f3;
    }

    .header-menu__search:active .header-menu__search-icon {
        color: #9d5cd0;
    }

    .header-menu__search-close:hover {
        outline: none;
    }

    .header-menu__search-close:active {
        outline: none;
    }

    .header-menu__search-close:hover .header-menu__search-close-image {
        color: #c283f3;
    }

    .header-menu__search-close:active .header-menu__search-close-image {
        color: #9d5cd0;
    }

    .header-submenu__list-button:hover {
        color: #9d5cd0;
        outline: none;
    }

    .header-submenu__list-button:active {
        color: #7943a4;
        outline: none;
    }
    
    .header-submenu__list-button:hover .header-submenu__list-text::after {
        border-color: #9d5cd0;
    }

    .header-submenu__list-button:active .header-submenu__list-text::after {
        border-color: #7943a4;
            -webkit-transform: rotateX(180deg) rotateZ(45deg) translateY(-3px);
        transform: rotateX(180deg) rotateZ(45deg) translateY(-3px);
    }

    .header-submenu__dropdown-item:hover {
        border: 2px solid #9d5cd0;
    }

    .header-submenu__dropdown-item:active {
        border: 2px solid #d1a9f0;
    }

    .header-submenu__dropdown-item:active .header-submenu__dropdown-link::before {
        background-color: rgba(194, 131, 243, 0.4);
    }

    .header-submenu__search:hover .header-submenu__search-input {
        border-bottom: 1px solid #c283f3;
    }
    
    .header-submenu__search:hover .header-submenu__search-icon {
        color: #c283f3;
    }

    @media (max-width: 1024px) {
        .header-menu__enter:hover {
            border-color: #c283f3;
        }

        .header-menu__enter:active {
            border-color: #7943a4;
        }
    }

    @media (max-width: 700px) {
        .header-menu__burger:hover .header-menu__burger-icon_second {
            width: 17px;
        }
        
        .header-menu__burger:hover .header-menu__burger-icon_third {
            width: 15px;
        }

        .header-menu__burger:active .header-menu__burger-icon_second {
            width: 17px;
        }
        
        .header-menu__burger:active .header-menu__burger-icon_third {
            width: 15px;
        }

        .burger-active + .header-menu__burger .header-menu__burger-icon_second {
            width: 17px;
        }
        
        .burger-active + .header-menu__burger .header-menu__burger-icon_third {
            width: 15px;
        }
    }
}
