.projects {
    padding-top: 80px;
    padding-bottom: 80px;
}

.projects__heading {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
}

.projects__description {
    max-width: 1100px;
    margin-bottom: 20px;
    font-weight: normal;
}

.projects__tooltip {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.projects__tooltip::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: -6px;
    left: 0;
    background-image: url(../images/8-projects/tooltip.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.projects__tooltip-text {
    position: absolute;
    top: -56px;
    right: 0;
    bottom: 0;
    left: -124px;
    display: inline-block;
    width: 264px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 8px 10px;
        -webkit-transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
        -o-transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
    transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    background-color: #cacaca;
    opacity: 0;
    visibility: hidden;
}

.projects__tooltip-text_two {
    top: -72px;
}

.projects__tooltip-text_three {
    top: -41px;
    left: -108px;
    width: 232px;
}

.projects__tooltip-text::after {
    content: ''; 
    position: absolute;
    left: 123px; 
    bottom: -18px;
    border: 9px solid transparent;
    border-top: 9px solid #cacaca;
}

.projects__tooltip-text_three::after {
    left: 107px;
}

.projects__tooltip:active .projects__tooltip-text {
    opacity: 1;
    visibility: visible;
}

.projects__description-link {
    border-bottom: 1px solid inherit;
    color: #9d5cd0;
        -webkit-transition: color 300ms ease-in-out, border-color 300ms ease-in-out;
        -o-transition: color 300ms ease-in-out, border-color 300ms ease-in-out;
    transition: color 300ms ease-in-out, border-color 300ms ease-in-out;
    text-decoration: none;
}

.projects__description-link:focus {
    outline: 2px solid #7943a4;
}

.projects__description-link:active {
    color: #7943a4;
    border-bottom: 1px solid #7943a4;
    outline: none;
}

.projects__subtitle {
    margin-bottom: 23px;
    font-weight: 600;
    font-size: 24px;
}

.projects__slider {
    position: relative;
}

.projects-partners {
    position: relative;
    margin: 0 75px;
}

.projects__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.projects__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
    justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    height: 150px;
    border: 1px solid #cacaca;
    cursor: pointer;
}

.projects__item-image {
    max-width: 100%;
        -webkit-filter: grayscale(1) contrast(0) opacity(0.5);
    filter: grayscale(1) contrast(0) opacity(0.5);
        -webkit-transition: -webkit-filter 300ms ease-in-out;
    transition: -webkit-filter 300ms ease-in-out;
        -o-transition: filter 300ms ease-in-out;
    transition: filter 300ms ease-in-out;
    transition: filter 300ms ease-in-out, -webkit-filter 300ms ease-in-out;
}

.projects__item-image_special {
        -webkit-filter: grayscale(1) contrast(0.75) opacity(0.5);
    filter: grayscale(1) contrast(0.75) opacity(0.5);
}

.projects__item:active .projects__item-image {
        -webkit-filter: none;
    filter: none;
}

.projects-swiper-button-prev,
.projects-swiper-button-next {
    top: 40%;
    width: 28px;
    height: 28px;
    padding-bottom: 2px;
    border: 2px solid #ececec;
    border-radius: 100px;
    background-image: url(../images/8-projects/nav-background.svg);
    background-repeat: no-repeat;
    background-position: center;
        -webkit-transition: border-color 300ms ease-in-out, background-image 300ms ease-in-out;
        -o-transition: border-color 300ms ease-in-out, background-image 300ms ease-in-out;
    transition: border-color 300ms ease-in-out, background-image 300ms ease-in-out;
    outline: none;
}

.projects-swiper-button-prev {
    left: 0;
    padding-right: 1px;
}

.projects-swiper-button-next {
    right: 0;
    padding-left: 1px;
}

.projects-swiper-button-prev:focus,
.projects-swiper-button-next:focus {
    border: 2px solid #7943a4;
}

.projects-swiper-button-prev:active,
.projects-swiper-button-next:active {
    border: 2px solid #d1a9f0;
    background-image: url(../images/8-projects/nav-background-active.svg);
}

.projects-swiper-button-prev::after,
.projects-swiper-button-next::after {
    font-size: 10px;
}

.projects-swiper-button-prev:active::after,
.projects-swiper-button-next:active::after {
    color: #ffffff;
}

.projects__description-link:active {
    color: #7943a4;
    border-bottom: 1px solid #7943a4;
    outline: none;
}

.projects__item:active .projects__item-image {
        -webkit-filter: none;
    filter: none;
}

.projects-swiper-button-prev:active,
.projects-swiper-button-next:active {
    border: 2px solid #d1a9f0;
    background-image: url(../images/8-projects/nav-background-active.svg);
}

.projects-swiper-button-prev:active::after,
.projects-swiper-button-next:active::after {
    color: #ffffff;
}

@media (max-width: 1024px) {
    .projects-partners {
        margin: 0 50px;
    }

    .projects__item {
        height: 128px;
    }
}

@media (max-width: 768px) {
    .projects {
        padding-bottom: 82px;
    }

    .projects__description {
        max-width: 660px;
        margin-bottom: 26px;
    }

    .projects__description-link {
        display: block;
    }

    .projects__subtitle {
        margin-bottom: 28px;
    }

    .projects__item {
        height: 106px;
    }
}

@media (max-width: 700px) {
    .projects {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .projects__heading {
        margin-bottom: 12px;
        font-size: 28px;
        line-height: 38px;
    }

    .projects__description {
        max-width: 1100px;
        margin-bottom: 10px;
    }

    .projects__subtitle {
        margin-bottom: 11px;
        font-size: 18px;
    }

    .projects__item {
        height: 130px;
    }

    .projects__item-image {
        max-width: 50%;
    }
}

@media (max-width: 320px) {
    .projects__tooltip-text_three {
        left: -178px;
    }
    
    .projects__tooltip-text_three::after {
        left: 177px;
    }

    .projects__item {
        height: 65px;
    }

    .projects-swiper-button-prev,
    .projects-swiper-button-next {
        top: 28%;
    }
}

@media (hover: hover) {
    .projects__tooltip:hover .projects__tooltip-text {
        opacity: 1;
        visibility: visible;
    }

    .projects__description-link:hover {
        border-bottom: 1px solid #9d5cd0;
        outline: none;
    }

    .projects__description-link:active {
        color: #7943a4;
        border-bottom: 1px solid #7943a4;
        outline: none;
    }

    .projects__item:hover .projects__item-image {
            -webkit-filter: none;
        filter: none;
    }

    .projects__item:active .projects__item-image {
            -webkit-filter: none;
        filter: none;
}

    .projects-swiper-button-prev:hover,
    .projects-swiper-button-next:hover {
        border: 2px solid #9d5cd0;
        background-image: url(../images/8-projects/nav-background-hover.svg);
    }

    .projects-swiper-button-prev:hover::after,
    .projects-swiper-button-next:hover::after {
        color: #ffffff;
    }

    .projects-swiper-button-prev:active,
    .projects-swiper-button-next:active {
        border: 2px solid #d1a9f0;
        background-image: url(../images/8-projects/nav-background-active.svg);
    }

    .projects-swiper-button-prev:active::after,
    .projects-swiper-button-next:active::after {
        color: #ffffff;
    }
}
